<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="/js/jquery-1.8.1.min.js"></script>
  <script src="/js/vue-bundle.min.js"></script>
</head>
<body>
  <div class="app">

  <input type="text" v-model='username'>
  <input type="text" name="" id="" v-model='password'>

  <button @click='click'>登录</button>

  <br>

  <input type="text" v-model='username1'>
  <input type="text" name="" id="" v-model='password1'>

  <button @click='click1'>登录</button>
  </div>
</body>

<script> 
  new Vue({
    el:'.app',
    data:{
      password:'',
      username:'',
       password1:'',
      username1:''
    },
    methods:{
      click(){
        console.log(this.password,this.username)
        let _this=this
        $.ajax({
          method:'get',
          url:'/users/login',
          data:{username:_this.username,password:_this.password}
        }).then((res)=>{
          console.log(res)
        })
      },
      click1(){
        console.log(this.username1,this.password1)
        let _this=this
        $.ajax({
          method:'get',
          url:'/users/rePassword',
          data:{username:_this.username1,password:_this.password1}
        }).then((res)=>{
          console.log(res)
        })
      }
    }
  })
</script>
</html>