<div class="container-fluid cst_sectionBlock c-section cbsect_33626058" data-c_tl_id="tl_70ca589a" id="sectiondd723e9c">
		<div class="container cst_container_base c-container-1 cbcont_034d7980">
			<div class="c-div div_gcQ0Hq">
				<div class="cst_footer_copyright c-div cbdiv_55603246">
					<div class="cst_textLinkstyle cst_flex_between c-div cbdiv_8870194d">
						<div class="c-div cs-repeatable c-initHide cbdiv_0d497597" data-c_ani_id="ani_96e4d764c4182f65">
							<p class="c-paragraph cbpara_a6ba252b">
						   	Copyright ©2013-2018 by SKYLIN Co., Ltd. All rights reserved.  成都天麒科技有限公司
							</p>
							
							<a class="hidden-xs c-textlink cbtext_51dfd806" href="http://www.miitbeian.gov.cn/" target="_blank">
								蜀ICP备16025074号-1  
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>