<header>
		<div class="header">
			<div class="l">
				<a href="/">
					<img src="./imgs/header/header-logo.png" alt="天麒科技">
				</a>
			</div>
			<div class="r">
				<ul>
					<li>
						<a href="/">首页</a>
					</li>
					<li>
						<a href="/v02">产品</a>
					</li>
					<li>
						<a href="/solution">解决方案</a>
					</li>
					<li>
						<a href="/aboutUs">关于</a>
					</li>
					<li>
						<a href="/contact">服务与支持</a>
					</li>
				</ul>
				<div class="lang">
					<a href="##">CN</a>
					<a href="##">EN</a>
				</div>

			</div>
		</div>
		<div class="hide-header">
			<ul>
				<li>
					
				</li>
				<li>
					<a href="/v02">v02</a>
					<a href="/v02s">v02s</a>
				</li>
				<li>
					<a href="/solution">无人植守</a>
					<a href="/monitor">农情检测</a>
				</li>
				<li>
					<a href="/aboutUs">天麒</a>
					<a href="/news">新闻</a>
				</li>
				<li>
					<a href="/contact">联系我们</a>
					<a href="https://tool.skylinuav.com/work2.0/Public/store/?service=App.downApp&id=10">天麒服务</a>
				</li>
			</ul>

		</div>
	</header>