<div class="footer content" >
	<ul class="wj fadeInUp">
		<li>
			<img src="./imgs/footer/footer-logo.png" alt="" class="footer-logo"/>
			<div class="t">
				<span>以人工智能研发与应用为核心</span>
				<span>聚焦农业现代化发展</span>
				<span>提供智能一体化农业服务</span>
			</div>
			<div class="b">
				<div>
					<div class="img">
						
						<img src="./imgs/footer/footer-loaction.png" alt="" />
						<div></div>
					</div>
					<span>四川省成都市天府大道中段萃华路99号<br/>成都国际节能大厦A座3405号</span>
				</div>
				<div>
					<div class="img">
						<img src="./imgs/footer/footer-phone.png" alt=""/>
						<div></div>
					</div>
					
					<span>400-117-7757<br/>服务时间：周一至周五 9:00-18:00</span>
				</div>
				<div>
					<div class="img">
						<img src="./imgs/footer/footer-email.png" alt=""/>
						<div></div>
					</div>
					
					<span>marketing@skylinuav.com</span>
				</div>
			</div>
		</li>
		<li>
			<div class="title">
				<div>
					快速导航入口
				</div>
				<div></div>
			</div>
			<div class="items">
				<a href="" class="level">网站首页</a>
			</div>
			<div class="items">
				<a href="" class="level">公司产品</a>
				<span>
					<a href="">V02</a>
					<a href="">V02S</a>
					<a href="">V01</a>
				</span>	
			</div>
			<div class="items">
				<a href="" class="level">解决方案</a>
				<span>
					<a href="">无人植守</a>
					<a href="">农情检测</a>
				</span>	
			</div>
			<div class="items">
				<a href="" class="level">关于我们</a>
				<span>
					<a href="">天麒</a>
					<a href="">新闻</a>
				</span>	
			</div>
			<div class="items">
				<a href="" class="level">服务与支持</a>
				<span>
					<a href="">联系我们</a>
					<a href="https://tool.skylinuav.com/work2.0/Public/store/?service=App.downApp&id=10">天麒服务</a>
				</span>	
			</div>
		</li>
		<li>
			<div>
				<img src="./imgs/footer/footer-wechat.png" alt="">
				<span>关注微信</span>
			</div>
			
		</li>
	</ul>
</div>