<div class="app">
  {{> header}}
  <div class="container-fluid cst_sectionBlock c-section cbsect_5e55cfd5" data-c_tl_id="tl_86b5022c">
    <div class="container cst_container_base c-container-1 cbcont_5f23c8a2">
      <div class="c-div div_so8X0o">
        <div class="c-inlineblock c-imageblock imageblock_7MJ6Hl" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/2be33f2a4d288f5698229b74cbac5966_origin.jpg"
          style="background-size:     cover; background-position:     center center; background-repeat:     no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/2be33f2a4d288f5698229b74cbac5966_origin.jpg); ">

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid cst_sectionBlock c-section cbsect_924803d2" data-c_tl_id="tl_4aa3faaf" id="sectionf7986503">
    <div class="container cst_container_base c-container-1 cbcont_3bdc4c26">
      <div class="c-div div_WSDu2m">
        <div class="c-div c-initHide div_xvoRaw" data-c_ani_id="ani_73dca8cbbc84767b">
          <p class="c-paragraph paragraph_ZudIVC">成都天麒科技有限公司</p>
          <p class="c-paragraph paragraph_P5fw2R">Tourism Service Culture Communication Co., Ltd.
            <br/>
          </p>
        </div>
        <div class="c-div cs-repeatable c-initHide div_ddNILR" data-c_ani_id="ani_fc2517345663b17d">
          <div class="border_about_list_top c-div div_i2Vyal">
            <p class="c-paragraph paragraph_rapji8">公司简介</p>
            <p class="c-paragraph paragraph_hOrMzO">在1967年的日内瓦会议上，联合国统计委员会提议，应该建立一个单独的游客类别。旅游者至少要逗留24小时，然而，有些游客外出游览但于当日返回了居住地，这些人被称为“短期旅行者（Excursionists）”、这类游客包括了不以就业为目的的一日游者、游船乘客和过境游客。短期旅行者很容易与其他游客区分开来，因为他们不在目的地过夜。</p>
          </div>
          <div class="border_about_list_top c-div div_i2Vyal">
            <p class="c-paragraph paragraph_rapji8">公司荣誉</p>
            <p class="c-paragraph paragraph_hOrMzO">2018年度世界旅游500强
              <br/>2014年度世界商业十大品牌
              <br/>环球旅行体验大奖The Global Travel Experience Award
              <br/>中国出境旅游——日韩线十大批发商
              <br/>从上千全球顶级精品酒店中甄选出上百家精品度假酒店角逐十几个特色奖项如最梦幻泳池，最炫窗景，最WOW体验，最佳亲子度假等等奖项。</p>
          </div>
          <div class="border_about_list_top c-div div_i2Vyal">
            <p class="c-paragraph paragraph_rapji8">公司理念</p>
            <p class="c-paragraph paragraph_hOrMzO">“旅”是旅行，外出，即为了实现某一目的而在空间上从甲地到乙地的行进过程；“游”是外出游览、观光、娱乐，即为达到这些目的所作的旅行。二者合起来即旅游。所以，旅行偏重于行，旅游不但有“行”，且有观光、娱乐含义。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footer}}
</div>
<script>
  var page_slug = 'about';
</script>

<script type="text/javascript" src="//version.coolsite360.com/ynzzkt/15/about_data.js"></script>
