<div class="app">
   {{> header}}
    <div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_44fc32b4" data-c_tl_id="tl_86b5022c">
        <div class="cst_sectionBGwrap c-div cbdiv_0dbb9a93">
            <div class="cst_sectionBG c-div cbdiv_38e95c95" src="http://qty83k.creatby.com/materials/95622/origin/20476b9b86f4329e4d6b9440ae194c0b_origin.jpg"
                style="background-image: url('http://qty83k.creatby.com/materials/95622/origin/20476b9b86f4329e4d6b9440ae194c0b_origin.jpg'); ">

            </div>
        </div>
        <div class="container cst_container_base c-container-1 cbcont_b4ac4941">
            <div class="c-div div_XgEOjs"></div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_4cd3b0ac" data-c_tl_id="tl_50c7fb36" id="section8e9cd90e">
        <div class="container cst_container_base c-container-1 cbcont_5b3904c4">
            <div class="c-div div_BtNa4j1">
                <div class="c-div cbdiv_15f3e3a6">
                    <div class="c-div c-initHide cbdiv_282bbbb8" data-c_ani_id="ani_46432c768f3bcf6b">
                        <p class="c-paragraph cbpara_9d6ebfe5">联系我们</p>
                        <p class="c-paragraph cbpara_be9bd09d">Contact us</p>
                    </div>
                </div>
                <div class="c-div div_Qxc4ur">
                    <div class="c-div c-initHide div_IJeKEW" data-c_ani_id="ani_d115030b41cc137a">
                        <form class="c-form formwidget_e5q9FW" data-action="/form/d4mkxe/?format=json" data-c_form="true">
                            <input class="c-input input_YMEhEg" name="c1" placeholder="姓名" required="True" type="text" />
                            <input class="c-input input_YMEhEg1" name="tf2c93" placeholder="电话" required="True" type="text" />
                            <input class="c-input input_Rnjquj" name="t56374" placeholder="Email" required="True" type="email" />
                            <textarea class="c-input c-textarea textarea_CenHbQ" name="ta6e77" placeholder="内容" required="True">

                            </textarea>
                            <button class="submit_eHKF4O" name="" type="submit" wait="">SUBMIT</button>
                            <h3 class="c-successmessage successmessage_ZjRGGT">谢谢,表单已提交成功！</h3>
                            <h4 class="c-errormessage errormessage_jcyRQL">请完整填写表单的信息后，再进行提交！</h4>
                        </form>
                    </div>
                </div>
                <div class="c-div div_RjULhy">
                    <div class="c-grid c-initHide grid_X6s6na" data-c_ani_id="ani_6b2e472caf5c94b6">
                        <div class="row c-row row_rw7aSV">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column column_PNtAyg">
                                <div class="c-div div_1ToRBM">
                                    <div class="c-div div_oyi7DW">
                                        <div class="c-inlineblock c-imageblock imageblock_Hp9HRW" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/e31c007cdd01e92e883b714540407c96_origin.png"
                                            style="background-size: contain; background-position: center center; background-repeat: no-repeat; background-image:    url(http://qty83k.creatby.com/materials/95622/origin/e31c007cdd01e92e883b714540407c96_origin.png); ">

                                        </div>
                                    </div>
                                    <p class="c-paragraph paragraph_VX1ko3">phone</p>
                                    <p class="c-paragraph paragraph_unt0WE">18868888888 / 021-67373888</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column column_PNtAyg">
                                <div class="c-div div_1ToRBM">
                                    <div class="c-div div_oyi7DW">
                                        <div class="c-inlineblock c-imageblock imageblock_Hp9HRW" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/0aaad2334bfacda9165ba6e7e51e17f7_origin.png"
                                            style="background-size:       cover; background-position:       center center; background-repeat:       no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/0aaad2334bfacda9165ba6e7e51e17f7_origin.png); ">

                                        </div>
                                    </div>
                                    <p class="c-paragraph paragraph_VX1ko3">hour</p>
                                    <p class="c-paragraph paragraph_unt0WE">上班时间：周一至周五 / 10am-6pm</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column column_PNtAyg">
                                <div class="c-div div_1ToRBM">
                                    <div class="c-div div_oyi7DW">
                                        <div class="c-inlineblock c-imageblock imageblock_Hp9HRW" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/3349cc693eef912ecd7731293742839b_origin.png"
                                            style="background-size:      cover; background-position:      center center; background-repeat:      no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/3349cc693eef912ecd7731293742839b_origin.png); ">

                                        </div>
                                    </div>
                                    <p class="c-paragraph paragraph_VX1ko3">address</p>
                                    <p class="c-paragraph paragraph_unt0WE">上海市XX区XX路XX大厦</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-div c-initHide div_rnfRqD" data-c_ani_id="ani_a8d1554b208a9de8">
                    <div center_latitude="30.5491231199" center_longitude="104.0661317110" class="gray_filter2 tag-map map_G1MG8t" description=""
                        marker_latitude="30.5491231199" marker_longitude="104.0661317110" zoom="18">

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
<script type="text/javascript" src="http://version.coolsite360.com/ynzzkt/15/contact_data.js"></script>
<script>
    var page_slug = 'contact';
</script>

<script>

    new Vue({
        el: '.app',
        data: {

        }
    })
</script>