<link rel="stylesheet" href="./css/about.css">
<script src="./js/vue-agile.js"></script>
<div class="app about">
  <div class="content-one">
    <div class="box">
      <img src="./imgs/about/t.png" alt="">
      <img src="./imgs/about/b.png" alt="">
    </div>

  </div>
    <div class="content-two">
    <div class="box">
      <div class="l">
        <img src="./imgs/about/logo.png" alt="">
        <span class="title">成都天麒科技有限公司</span>
        <span>Skylin Technology Co., Ltd.</span>
      </div>
      <div class="r">
        <span class="title">科技兴农 天麒科技</span>
         <span class="info">
          &nbsp;&nbsp;&nbsp;&nbsp;成都天麒科技有限公司是一家以人工智能为核心，提供智能一体化农业服务的科技创新型企业， 成立于2013年6月，总部位于成都高新区。公司致力于空中无人机器人的研发和制造， 对于无人机在农林牧业等应用有深入的探索，已取得业内瞩目的成果和产品。 
          <br/>&nbsp;&nbsp;&nbsp;&nbsp;天麒科技致力于实现“让天下无农”的科技信仰，借助新型人工智能科技（目前为植保无人机）， 引爆农耕思维，引燃农创激情，引发农业新风尚，引领农村新生活， 逐步打造全自动化、信息化、智能化的全新智能云农业生态链，让天下无农，人人共享健康美食，更慧创新生活的美好蓝图。
         </span>
        <img src="./imgs/about/line3.png" alt="">
        <span class="title">匠心梦者 心怀世界</span>
       
        <div class="swiper">
          <agile :autoplay='true' :arrows="false">
            <div class="slide slide1"></div>
            <div class="slide slide2"></div>
            <div class="slide slide3"></div>
            <div class="slide slide4"></div>
            <div class="slide slide5"></div>
            <div class="slide slide6"></div>
            <div class="slide slide7"></div>
        </agile>
        </div>
      </div>
    </div>

  </div>
</div>


<script>
  new Vue({
    el:'.app'

  })
</script>