<link rel="stylesheet" href="./css/contact.css">
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xfH0SN2kV0pGN70MTDDWhMUlyRWs4vye"></script>
<div class="contact app">
    <div class="content-one">

    </div>
    <div class="content-two">
        <div class="box">
            <div class="title">
                <p>联系我们</p>
                <p>Contact us</p>
            </div>
            <form class="c-form" data-action="/form/d4mkxe/?format=json" data-c_form="true">
                <input class="c-input" name="name" placeholder="姓名" required="True" type="text">
                <input class="c-input " name="telphne" placeholder="电话" required="True" type="text">
                <input class="c-input " name="email" placeholder="Email" required="True" type="email">
                <textarea class="c-input c-textarea" name="cntent" placeholder="内容" required="True"></textarea>
                <button class="" name="" type="submit" wait="">SUBMIT</button>
                <h3 class="c-successmessage">谢谢,表单已提交成功！</h3>
                <h4 class="c-errormessage">请完整填写表单的信息后，再进行提交！</h4>
            </form>

            <div class="list">
                <ul>
                    <li>
                        <img src="./imgs/contact/phone.png" alt="">
                        <p>联系客服</p>
                        <p>400-117-7757</p>
                    </li>
                    <li>
                        <img src="./imgs/contact/email.png" alt="">
                        <p>电子邮箱</p>
                        <p>marketing@skylinuav.com</p>
                    </li>
                    <li>
                        <img src="./imgs/contact/time.png" alt="">
                        <p>服务时间</p>
                        <p>周一至周五9:00-18:00 </p>
                    </li>
                    <li>
                        <img src="./imgs/contact/location.png" alt="">
                        <p>公司地址</p>
                        <p>四川省成都市天府大道中段萃华路99号成都国际节能大厦A座3405号</p>
                    </li>
                </ul>

            </div>
            <div id="map"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("map");
    var point = new BMap.Point(104.0727050000, 30.5552440000)
    map.centerAndZoom(point, 18);
    map.enableScrollWheelZoom(true);  
    // 添加带有定位的导航控件
    var navigationControl = new BMap.NavigationControl({
        // 靠左上角位置
        anchor: BMAP_ANCHOR_TOP_LEFT,
        // LARGE类型
        type: BMAP_NAVIGATION_CONTROL_LARGE,
        // 启用显示定位
        enableGeolocation: true
    });
    map.addControl(navigationControl);
    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);

  // 添加定位控件
</script>