
<div class="app">
    {{!-- {{> header}} --}}
    <div class="container-fluid cst_sectionBlock cst_sectionBlock_slide c-section cbsect_0fa8babf" data-c_tl_id="tl_a31d502a">
        <div class="container cst_container_base cst_w100 c-container-1 cbcont_36c6503c" style="background-color: rgba(0, 0, 0, 0); ">
            <div class="cst_mLR-15 cst_block_slide c-slider cbslid_e9618f9f" data-c_slider_args="type:0;ap:1;ti:4" data-c_tl_id="tl_6cbffc05">
                <div class="c-slider-mask c-transition-containment cbslid_c209cd2c">
                    <div class="cst_slideitem cst_BGimageSetting cst_BGcover c-slide c-transition-item cbslid_0eeb5120" data-c_tl_id="tl_a6277508"
                        src="http://qty83k.creatby.com/materials/95622/origin/a9cf78abd0eb004bc2135829a7d4d615_origin.jpg">
                        <div class="cst_overlay c-div cbdiv_d4a5e15f"></div>
                        <div class="cst_slideitemContent container c-div cbdiv_b20264b4">
                            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_e27f8ec1">
                                <div class="cst_textSetting cst_textWrap c-div c-initHide cbdiv_1fbe31b3" data-c_ani_id="ani_6bfde56332a8b14d">
                                    <p class="c-paragraph paragraph_f8rgmm" v-text='name'></p>
                                    <p class="c-paragraph paragraph_rEjhqr">Enjoy a trip to the beach and the cliffs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cst_slideitem cst_BGimageSetting cst_BGcover c-slide c-transition-item cbslid_2203451a" data-c_tl_id="tl_87061709"
                        src="http://qty83k.creatby.com/materials/95622/origin/d07af348290ce46ef3ab1d3497d5da4d_origin.jpg">
                        <div class="cst_overlay c-div cbdiv_a331f663"></div>
                        <div class="cst_slideitemContent container c-div cbdiv_3b52416d">
                            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_a62385d5">
                                <div class="cst_textSetting cst_textWrap c-div c-initHide cbdiv_25d8c60d" data-c_ani_id="ani_ac6a5890">
                                    <p class="c-paragraph cbpara_3445ebda">休闲度假南半球 慢调生活</p>
                                    <p class="c-paragraph cbpara_54e30014">Feel the sound of mountain and nature</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cst_slideitem cst_BGimageSetting cst_BGcover c-slide c-transition-item cbslid_794354e6" data-c_tl_id="tl_e941f1b1"
                        src="http://qty83k.creatby.com/materials/95622/origin/fd3563938702eb5979da5af454f24e9a_origin.jpg">
                        <div class="cst_overlay c-div cbdiv_e31a7dc5"></div>
                        <div class="cst_slideitemContent container c-div cbdiv_065a357f">
                            <div class="cst_flexitem cst_flexsetting cst_flex_vetically c-div cbdiv_09362de5">
                                <div class="cst_textSetting cst_textWrap c-div c-initHide cbdiv_3388dc74" data-c_ani_id="ani_b03f39dc">
                                    <p class="c-paragraph cbpara_3091c57f">欧洲曼妙之旅 海港之声</p>
                                    <p class="c-paragraph cbpara_357cd514">Enjoy the sound of the European seaport</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="hidden-xs cst_slideNav c-leftarrow cbleft_6f478bbf" href="#">
                    <i class="fa fa-angle-left c-icon c-icon-arrowicon cbicon_21cbcff7"></i>
                </a>
                <a class="hidden-xs cst_slideNav c-rightarrow cbrigh_76b04d11" href="#">
                    <i class="fa fa-angle-right c-icon c-icon-arrowicon cbicon_f270a32a"></i>
                </a>
                <div class="hidden-lg hidden-md hidden-sm hidden-xs c-slider-nav c-round cbslid_d35d7eb4">
                    <div class="c-slider-nav-dot cbslid_863c40fe"></div>
                    <div class="c-slider-nav-dot slidernavdot_vXO6DD"></div>
                    <div class="c-slider-nav-dot slidernavdot_VmNtnr"></div>
                </div>
            </div>
            <div class="cst_slidearrow hidden-xs c-div cbdiv_d3bf655f" data-c_cssani="0|1|0|0">
                <div class="c-div cs-repeatable div_3XhQLl">
                    <div class="border_left c-div div_uMmNly">
                        <div class="border_left div_banner_custom_box c-div c-initHide div_smTzGT" data-c_ani_id="ani_3fc2510ce4f83ae7">
                            <div class="c-div div_yrNuav">
                                <i class="fa fa-plane c-icon icon_HuFtLd"></i>
                            </div>
                            <div class="div_custom_padding1 c-div div_n7Kcyv">
                                <p class="c-ellipse c-paragraph paragraph_RYeMb5">多项度假出行路线</p>
                                <p class="c-ellipse c-paragraph paragraph_UEFez8">SAUNDERS公司致力于休闲度假旅游的定制与服务业务，可带您感受世界的景色和...</p>
                            </div>
                            <a class="cst_hoverLink_navLink c-linkblock linkblock_qs78RM" href="/sites/ynzzkt/advantage.html"></a>
                        </div>
                    </div>
                    <div class="border_left c-div div_dwoK5v">
                        <div class="border_left div_banner_custom_box c-div c-initHide div_smTzGT" data-c_ani_id="ani_adfcf1d0468f59d4">
                            <div class="c-div div_yrNuav">
                                <i class="fa fa-shield c-icon icon_HuFtLd"></i>
                            </div>
                            <div class="div_custom_padding1 c-div div_n7Kcyv">
                                <p class="c-ellipse c-paragraph paragraph_RYeMb5">度假品质保证</p>
                                <p class="c-ellipse c-paragraph paragraph_UEFez8">SAUNDERS公司致力于休闲度假旅游的定制与服务业务，可带您感受世界的景色和...</p>
                            </div>
                            <a class="cst_hoverLink_navLink c-linkblock linkblock_qs78RM" href="/sites/ynzzkt/advantage.html"></a>
                        </div>
                    </div>
                    <div class="border_left c-div div_u2pcQm">
                        <div class="border_left div_banner_custom_box c-div c-initHide div_smTzGT" data-c_ani_id="ani_8d8af16b071bf93a">
                            <div class="c-div div_yrNuav">
                                <i class="fa fa-book c-icon icon_HuFtLd"></i>
                            </div>
                            <div class="div_custom_padding1 c-div div_n7Kcyv">
                                <p class="c-ellipse c-paragraph paragraph_RYeMb5">多年服务经验</p>
                                <p class="c-ellipse c-paragraph paragraph_UEFez8">SAUNDERS公司致力于休闲度假旅游的定制与服务业务，可带您感受世界的景色和...</p>
                            </div>
                            <a class="cst_hoverLink_navLink c-linkblock linkblock_qs78RM" href="/sites/ynzzkt/advantage.html"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_016a7f56" data-c_tl_id="tl_34d1f9e2" id="section622f57cc">
        <div class="container cst_container_base cst_w100 c-container-1 cbcont_e15b4bca">
            <div class="c-div div_orhWpK">
                <div class="c-div cbdiv_b51d7124">
                    <div class="c-div cbdiv_20a6bb90">
                        <p class="c-paragraph cbpara_2daaa059">热销项目</p>
                        <p class="c-paragraph cbpara_14a7eba3">Hot selling tour line</p>
                    </div>
                    <div class="c-div cbdiv_cfee9fd0">
                        <div class="c-div cbdiv_eaf8d23f">
                            <ul class="cst_btngroup cs-repeatable cbbtn__818054ef">
                                <li class="btn-listitem active product_btn_filter cbbtn__b12eaad9">
                                    <a class="clearfix btn_list_linkwrap cbbtn__909f8b95" data-c_act_id="act_03354479">
                                        <p class="product_text_filter c-paragraph cbpara_df22f126">全部</p>
                                    </a>
                                </li>
                                <li class="btn-listitem product_btn_filter cbbtn__b12eaad9" data-c_act_id="act_10efb442">
                                    <a class="clearfix btn_list_linkwrap product_btn_filter cbbtn__909f8b95" data-c_act_id="act_8b47076e">
                                        <p class="product_text_filter c-paragraph cbpara_df22f126">自由行</p>
                                    </a>
                                </li>
                                <li class="btn-listitem product_btn_filter cbbtn__b12eaad9" data-c_act_id="act_3a9cbd35">
                                    <a class="clearfix btn_list_linkwrap cbbtn__909f8b95" data-c_act_id="act_bc4142a5">
                                        <p class="product_text_filter c-paragraph cbpara_df22f126">欧洲行</p>
                                    </a>
                                </li>
                                <li class="btn-listitem product_btn_filter cbbtn__b12eaad9" data-c_act_id="act_5aedba47">
                                    <a class="clearfix btn_list_linkwrap cbbtn__909f8b95" data-c_act_id="act_4aa2dd27">
                                        <p class="product_text_filter c-paragraph cbpara_df22f126">境内游</p>
                                    </a>
                                </li>
                                <li class="btn-listitem product_btn_filter cbbtn__b12eaad9" data-c_act_id="act_ef35ed46">
                                    <a class="clearfix btn_list_linkwrap cbbtn__909f8b95" data-c_act_id="act_264cd962">
                                        <p class="product_text_filter c-paragraph cbpara_df22f126">跟团游</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_8adc420c" data-c_tl_id="tl_86b5022c">
        <div class="container cst_container_base cst_w100 c-container-1 cbcont_c3cb048b">
            <div class="c-div div_5KUtdL">
                <div class="c-div div_jDAYQL">
                    <div class="cst_hoverLink_effect03 cst_hovershadow_Griditem cst_mLR-15 cst_cardlist_grid_base_CMS c-div cbdiv_a205bce5">
                        <div class="cst_gridSpace c-contentlistviewv2 cbcont_c0905672">
                            <div class="row cst_textSetting c-row cbrow_441efaa8">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd536c8569692ddfd2db/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/c73f94421f41cdbb8a6b63d973aa23c8_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">皇家奇特旺国家公园</p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">自由行</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">欧洲行</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">境外游</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd536c8569692ddfd2db/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd546c8569692891749d/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/a2198eca095cacb017959d236213a21f_origin_YgAAmt3.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">乞力马扎罗山非洲最高的山脉 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">跟团游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">境外游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">欧洲行</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd546c8569692891749d/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd556c8569692b44dab8/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/05540e58ee45205254b31d3b9de05cfe_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">尼罗河世界上最长的河流 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">境内游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">跟团游</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd556c8569692b44dab8/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd566c8569692747bbd2/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">

                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/38bbeab0881568104d85fae9fec50a67_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">瑞士国家公园欧洲最早的国家公园 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">境内游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">自由行</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd566c8569692747bbd2/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd566c8569692891749e/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/a84141b4eb2fd68792d1535a8e17aee8_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">布拉格披着金色外衣的千塔之城 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">跟团游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">境外游</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd566c8569692891749e/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd576c8569692b44dab9/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/c2fd7d4e72b50267d2ce0295507d753a_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">阿尔卑斯山绝美的欧洲之最 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">跟团游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">境内游</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd576c8569692b44dab9/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd576c8569692ddfd2dc/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/9347f3a9e349dbe020bbe67a2ae30340_origin_xy9wknf.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">波尔多生在味蕾上的城市 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">跟团游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">境外游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">欧洲行</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd576c8569692ddfd2dc/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 c-column c-inline-column cbcolu_9d63fb95" data-c_content_url="/sites/ynzzkt/index/5aa9fd586c856969301dc321/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_product c-div c-initHide div_0AxREr" data-c_ani_id="ani_1614ff59efabffbe">
                                        <div class="c-div div_avCRET">
                                            <div class="img_product c-inlineblock c-imageblock imageblock_pHmuwR" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/f0a66fac13024673c5a709007ea66d2d_origin.jpg"
                                                style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/b077781dd6d985588b6f9d960d3794dd_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;">

                                            </div>
                                        </div>
                                        <div class="c-div div_mJoZ8D">
                                            <div class="div_product_text c-div div_Qqn65Q">
                                                <p class="c-paragraph paragraph_gNpu3X">普罗旺斯浪漫薰衣草园的紫色梦境 </p>
                                                <div class="c-div cs-repeatable div_KCl3Ef">
                                                    <p class="c-paragraph paragraph_iCzFsl">欧洲行</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">境外游</p>
                                                    <p class="c-paragraph paragraph_iCzFsl">自由行</p>
                                                </div>
                                            </div>
                                            <div class="c-div div_AFYHt2">
                                                <i class="fa fa-long-arrow-right icon_product c-icon icon_G6ztxA"></i>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_oIN3cS" href="/sites/ynzzkt/casedetails/5aa9fd586c856969301dc321/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-div div_gJooH6">
                        <a class="btn-default btn c-initHide bsbutton_bmayCG" data-c_ani_id="ani_272128beea7f29a9" href="/sites/ynzzkt/product.html"
                            options="btn btn-default" sizes="" type="button">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_a8297d60" data-c_tl_id="tl_f74d3ec0" id="section5f84ad5c">
        <div class="container cst_container_base cst_w100 c-container-1 cbcont_09f01de0">
            <div class="c-div div_kQ0cIW">
                <div class="hidden-sm hidden-xs c-div c-initHide div_Zy5JRw" data-c_ani_id="ani_5938fabc3e460daf">
                    <div class="cst_divimage c-inlineblock c-imageblock imageblock_J1B66B" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/df9ffd37a79d9770d12ea3eb433ec7e1_origin.jpg"
                        style="background-size:    cover; background-position:    center center; background-repeat:    no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/df9ffd37a79d9770d12ea3eb433ec7e1_origin.jpg); ">

                    </div>
                </div>
                <div class="c-div div_Kxl7Ju">
                    <div class="c-div div_Fecsra">
                        <div class="c-div div_rQMDLl">
                            <div class="c-div div_OwtPyY">

                            </div>
                            <div class="c-div div_PmaDBI">
                                <div class="c-div c-initHide div_9QXtId" data-c_ani_id="ani_ffb28b3fbd456c68">
                                    <div class="c-div div_ioR9ym">
                                        <div class="c-inlineblock c-imageblock imageblock_3ZrNXj" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/44bffd0147c5e8e693eef1176ad3e548_origin.jpg"
                                            style="background-size:     cover; background-position:     center center; background-repeat:     no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/44bffd0147c5e8e693eef1176ad3e548_origin.jpg); ">

                                        </div>
                                    </div>
                                </div>
                                <div class="c-div div_0OTUaw">
                                    <div class="c-div c-initHide div_tlTssu" data-c_ani_id="ani_3c5c5f850697521e">
                                        <p class="c-paragraph paragraph_wAuZxg">关于我们</p>
                                        <p class="c-paragraph paragraph_mSCnlT">About us</p>
                                    </div>
                                    <p class="c-ellipse c-paragraph c-initHide paragraph_S0xJRc" data-c_ani_id="ani_0bdd15d47dda9a71">旅行社有限公司是旅游集团旗下 经国家旅游局批准 工商局注册 从事入境旅游及相关服务 国内旅游及相关服务 特许经营中国公民出境..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_354233e4" data-c_tl_id="tl_75e289cf" id="section487dae7c">
        <div class="container cst_container_base c-container-1 cbcont_cd86817b">
            <div class="c-div div_aueuSH">
                <div class="c-div cbdiv_82c75adf">
                    <div class="c-div cbdiv_d52de223">
                        <p class="c-paragraph cbpara_1bf9dad9">业内资讯</p>
                        <p class="c-paragraph cbpara_9870beae">News center</p>
                    </div>
                    <div class="hidden-sm hidden-xs c-div cbdiv_c5f1224a"></div>
                </div>
                <div class="c-div div_BDkRAn">
                    <div class="cst_hoverLink_effect03 cst_hovershadow_Griditem cst_mLR-15 cst_cardlist_grid_base_CMS c-div cbdiv_82015426">
                        <div class="cst_gridSpace c-contentlistviewv2 c-initHide cbcont_70b35c8e" data-c_ani_id="ani_bfc8168110ce610c">
                            <div class="row cst_textSetting c-row cbrow_f1efb214">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_ed5c47a7" data-c_content_url="/sites/ynzzkt/index/5a5da6c1c8d27f3d6041b59a/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_news c-div div_tqTQbn">
                                        <div class="c-div div_LE74pF">
                                            <div class="div_news_top c-div div_0LCLug">
                                                <p class="c-ellipse c-paragraph paragraph_QzkeDW"> 野外摄影师真是个高危又萌翻的职业</p>
                                                <div class="c-div div_lLKXS2"></div>
                                                <div class="c-div div_0xAqdX">
                                                    <p class="c-paragraph youziku-e094346a5670469eaacd0dcc3afa6f0d paragraph_PjD2zu">2018-01-16 15:18</p>
                                                </div>
                                                <p class="c-ellipse c-paragraph paragraph_1ICu4N">在进行照相时，光通过小孔（更多时候是一个透镜组）进入暗盒，在暗盒背部（相对于光入射方向）的介质上成像。根据实际光强度和介质感光能力的不同，要求的光照时间也不同。在光照过程中，介质被感光</p>
                                            </div>
                                            <div class="div_news_bottom c-div div_5ypStR">
                                                <div class="c-inlineblock c-imageblock imageblock_fktKXj" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/3c28ab78af3484bd7e839fdaae456e43_origin.jpg"
                                                    style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/ea306aa08c0a1f084ac22d4e99b56a2d_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_UXSBR4" href="/sites/ynzzkt/newsdetails/5a5da6c1c8d27f3d6041b59a/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_ed5c47a7" data-c_content_url="/sites/ynzzkt/index/5a5da6c1c8d27f3d8bceab88/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_news c-div div_tqTQbn">
                                        <div class="c-div div_LE74pF">
                                            <div class="div_news_top c-div div_0LCLug">
                                                <p class="c-ellipse c-paragraph paragraph_QzkeDW"> 2018全球华人新春摄影大赛在美启动</p>
                                                <div class="c-div div_lLKXS2"></div>
                                                <div class="c-div div_0xAqdX">
                                                    <p class="c-paragraph youziku-e094346a5670469eaacd0dcc3afa6f0d paragraph_PjD2zu">2018-01-16 15:18</p>
                                                </div>
                                                <p class="c-ellipse c-paragraph paragraph_1ICu4N">在进行照相时，光通过小孔（更多时候是一个透镜组）进入暗盒，在暗盒背部（相对于光入射方向）的介质上成像。根据实际光强度和介质感光能力的不同，要求的光照时间也不同。在光照过程中，介质被感光</p>
                                            </div>
                                            <div class="div_news_bottom c-div div_5ypStR">
                                                <div class="c-inlineblock c-imageblock imageblock_fktKXj" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/3c28ab78af3484bd7e839fdaae456e43_origin.jpg"
                                                    style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/36d7502a1f0df2b43add7aebf2ef97ee_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_UXSBR4" href="/sites/ynzzkt/newsdetails/5a5da6c1c8d27f3d8bceab88/"></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_ed5c47a7" data-c_content_url="/sites/ynzzkt/index/5a5da6c2c8d27f3d6041b59b/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc">
                                    <div class="div_news c-div div_tqTQbn">
                                        <div class="c-div div_LE74pF">
                                            <div class="div_news_top c-div div_0LCLug">
                                                <p class="c-ellipse c-paragraph paragraph_QzkeDW">当“职业”摄影师处理家庭合照 结果惊悚诡异|摄影师|惊悚|家庭</p>
                                                <div class="c-div div_lLKXS2"></div>
                                                <div class="c-div div_0xAqdX">
                                                    <p class="c-paragraph youziku-e094346a5670469eaacd0dcc3afa6f0d paragraph_PjD2zu">2018-01-16 15:18</p>
                                                </div>
                                                <p class="c-ellipse c-paragraph paragraph_1ICu4N">在进行照相时，光通过小孔（更多时候是一个透镜组）进入暗盒，在暗盒背部（相对于光入射方向）的介质上成像。根据实际光强度和介质感光能力的不同，要求的光照时间也不同。在光照过程中，介质被感光</p>
                                            </div>
                                            <div class="div_news_bottom c-div div_5ypStR">
                                                <div class="c-inlineblock c-imageblock imageblock_fktKXj" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/3c28ab78af3484bd7e839fdaae456e43_origin.jpg"
                                                    style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/3cd66a2b3eb2472c8639f2cde9e37311_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_UXSBR4" href="/sites/ynzzkt/newsdetails/5a5da6c2c8d27f3d6041b59b/"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-div div_gJooH6">
                    <a class="btn-default btn c-initHide bsbutton_bmayCG" data-c_ani_id="ani_a017b3d419fb51a3" href="/sites/ynzzkt/news.html"
                        options="btn btn-default" sizes="" type="button">read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_be4055d7" data-c_tl_id="tl_49108591" id="sectioncefa3a32">
        <div class="cst_sectionBGwrap c-div cbdiv_652f7b9f">
            <div class="cst_sectionBG cst_BGfixed c-div cbdiv_e22a3db3" src="http://qty83k.creatby.com/materials/95622/origin/1d21e1c87f05e78f5123e532288ffae0_origin.jpg"
                style="background-image: url('http://qty83k.creatby.com/materials/95622/origin/1d21e1c87f05e78f5123e532288ffae0_origin.jpg'); ">
                <div class="cst_overlay c-div cbdiv_c9962fb1"></div>
            </div>
        </div>
        <div class="container cst_container_base c-container-1 cbcont_9a6782a1">
            <div class="c-div div_2CQfo0">
                <div class="c-div div_R3SCJy">
                    <div class="c-div div_jQaHzX">
                        <div class="c-div div_zJGTmg">
                            <div class="cst_mLR-15 cst_block_cardlist_grid cst_hovershadow_Griditem c-div c-initHide cbdiv_f731ef8b" data-c_ani_id="ani_1f28d86af6d9cae5">
                                <div class="cst_grid cst_gridSpace cst_border_shadow_setting c-grid cbgrid_d68014b1">
                                    <div class="row cst_textSetting column_advantage c-row cbrow_2fd09ac4">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_advantage c-column c-inline-column cbcolu_b19766e9">
                                            <div class="c-div div_4T48CE">
                                                <div class="c-div div_5IOpyJ">
                                                    <div class="c-div div_l6jmVD">
                                                        <div class="c-div div_6Ls8dj">
                                                            <div class="c-inlineblock c-imageblock imageblock_phxvbc" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/cb9431349ef89cd4729f36a46d27e6b7_origin.png"
                                                                style="background-size: contain; background-position: center center; background-repeat: no-repeat; background-image:  url(http://qty83k.creatby.com/materials/95622/origin/cb9431349ef89cd4729f36a46d27e6b7_origin.png); "></div>
                                                        </div>
                                                    </div>
                                                    <div class="c-div div_Mo89p7">
                                                        <p class="c-paragraph paragraph_zT72Av">多样性</p>
                                                    </div>
                                                </div>
                                                <p class="c-paragraph paragraph_mHjUmM">多条旅游度假线路备选</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_advantage c-column c-inline-column cbcolu_b19766e9">
                                            <div class="c-div div_4T48CE">
                                                <div class="c-div div_5IOpyJ">
                                                    <div class="c-div div_l6jmVD">
                                                        <div class="c-div div_6Ls8dj">
                                                            <div class="c-inlineblock c-imageblock imageblock_phxvbc" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/cb9431349ef89cd4729f36a46d27e6b7_origin.png"
                                                                style="background-size:      contain; background-position:      center center; background-repeat:      no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/cb9431349ef89cd4729f36a46d27e6b7_origin.png); "></div>
                                                        </div>
                                                    </div>
                                                    <div class="c-div div_Mo89p7">
                                                        <p class="c-paragraph paragraph_zT72Av">多种选择</p>
                                                    </div>
                                                </div>
                                                <p class="c-paragraph paragraph_mHjUmM">多条旅游度假线路备选</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_advantage c-column c-inline-column cbcolu_b19766e9">
                                            <div class="c-div div_4T48CE">
                                                <div class="c-div div_5IOpyJ">
                                                    <div class="c-div div_l6jmVD">
                                                        <div class="c-div div_6Ls8dj">
                                                            <div class="c-inlineblock c-imageblock imageblock_phxvbc" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/b7fcc7aff9086c5733015eab768f3f3d_origin.png"
                                                                style="background-size:       contain; background-position:       center center; background-repeat:       no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/b7fcc7aff9086c5733015eab768f3f3d_origin.png); "></div>
                                                        </div>
                                                    </div>
                                                    <div class="c-div div_Mo89p7">
                                                        <p class="c-paragraph paragraph_zT72Av">安全性</p>
                                                    </div>
                                                </div>
                                                <p class="c-paragraph paragraph_mHjUmM">多条旅游度假线路备选</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_advantage c-column c-inline-column cbcolu_b19766e9">
                                            <div class="c-div div_4T48CE">
                                                <div class="c-div div_5IOpyJ">
                                                    <div class="c-div div_l6jmVD">
                                                        <div class="c-div div_6Ls8dj">
                                                            <div class="c-inlineblock c-imageblock imageblock_phxvbc" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/70ec106086b340baf72c71bf6e1d5cbf_origin.png"
                                                                style="background-size:       contain; background-position:       center center; background-repeat:       no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/70ec106086b340baf72c71bf6e1d5cbf_origin.png); "></div>
                                                        </div>
                                                    </div>
                                                    <div class="c-div div_Mo89p7">
                                                        <p class="c-paragraph paragraph_zT72Av">高品质</p>
                                                    </div>
                                                </div>
                                                <p class="c-paragraph paragraph_mHjUmM">多条旅游度假线路备选</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_advantage c-column c-inline-column cbcolu_b19766e9">
                                            <div class="c-div div_4T48CE">
                                                <div class="c-div div_5IOpyJ">
                                                    <div class="c-div div_l6jmVD">
                                                        <div class="c-div div_6Ls8dj">
                                                            <div class="c-inlineblock c-imageblock imageblock_phxvbc" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/e6bbe56967995dbbba71537538566a05_origin.png"
                                                                style="background-size:       contain; background-position:       center center; background-repeat:       no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/e6bbe56967995dbbba71537538566a05_origin.png); "></div>
                                                        </div>
                                                    </div>
                                                    <div class="c-div div_Mo89p7">
                                                        <p class="c-paragraph paragraph_zT72Av">无强制消费</p>
                                                    </div>
                                                </div>
                                                <p class="c-paragraph paragraph_mHjUmM">多条旅游度假线路备选</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 border_advantage c-column c-inline-column cbcolu_b19766e9">
                                            <div class="c-div div_4T48CE">
                                                <div class="c-div div_5IOpyJ">
                                                    <div class="c-div div_l6jmVD">
                                                        <div class="c-div div_6Ls8dj">
                                                            <div class="c-inlineblock c-imageblock imageblock_phxvbc" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/2e4e8b71c01cfb15ceb0d5566c2dc552_origin.png"
                                                                style="background-size:       contain; background-position:       center center; background-repeat:       no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/2e4e8b71c01cfb15ceb0d5566c2dc552_origin.png); "></div>
                                                        </div>
                                                    </div>
                                                    <div class="c-div div_Mo89p7">
                                                        <p class="c-paragraph paragraph_zT72Av">客户群</p>
                                                    </div>
                                                </div>
                                                <p class="c-paragraph paragraph_mHjUmM">多条旅游度假线路备选</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_bb979589" data-c_tl_id="M_4434c32319011132" id="section923e7114">
        <div class="container cst_container_base cst_w100 c-container-1 cbcont_0f284be0">
            <div class="c-div div_vFwiIh">
                <div class="cst_mLR-15 cst_cardlist_grid_icon c-div cbdiv_a1d42fb2">
                    <div class="cst_grid cst_gridSpace cst_border_shadow_setting c-grid cbgrid_cd4a995e">
                        <div class="row cst_textSetting c-row cbrow_ad94279f">
                            <div class="col-lg-2_4 col-md-2_4 col-sm-6 col-xs-6 c-column c-inline-column cbcolu_55167b8f">
                                <div class="cst_block_item c-div cbdiv_86dfe99e">
                                    <div class="c-div div_0IvtW8">
                                        <div class="c-div cbdiv_11b57f7b">
                                            <h1 class="counter c-heading cbhead_628af3b7">12876</h1>
                                            <p class="c-paragraph paragraph_tRZxOk">+</p>
                                        </div>
                                        <h4 class="cst_title c-heading cbhead_9d00ab80">合作景区</h4>
                                    </div>
                                    <div class="c-div div_a0lVjM">
                                        <div class="c-inlineblock c-imageblock imageblock_3dFSEY" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/bc36eb977639d3837e8bfa385c7ed2b1_origin.png"
                                            style="background-size: contain; background-position: center center; background-repeat: no-repeat; background-image:    url(http://qty83k.creatby.com/materials/95622/origin/bc36eb977639d3837e8bfa385c7ed2b1_origin.png); "></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2_4 col-md-2_4 col-sm-6 col-xs-6 c-column c-inline-column cbcolu_55167b8f">
                                <div class="cst_block_item c-div cbdiv_86dfe99e">
                                    <div class="c-div div_0IvtW8">
                                        <div class="c-div cbdiv_11b57f7b">
                                            <h1 class="counter c-heading cbhead_628af3b7">4396</h1>
                                            <p class="c-paragraph paragraph_tRZxOk">t</p>
                                        </div>
                                        <h4 class="cst_title c-heading cbhead_9d00ab80">专业团队</h4>
                                    </div>
                                    <div class="c-div div_a0lVjM">
                                        <div class="c-inlineblock c-imageblock imageblock_3dFSEY" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/da103a754816563b1699aafafb9ccec9_origin.png"
                                            style="background-size:     contain; background-position:     center center; background-repeat:     no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/da103a754816563b1699aafafb9ccec9_origin.png); "></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2_4 col-md-2_4 col-sm-6 col-xs-6 c-column c-inline-column cbcolu_55167b8f">
                                <div class="cst_block_item c-div cbdiv_86dfe99e">
                                    <div class="c-div div_0IvtW8">
                                        <div class="c-div cbdiv_11b57f7b">
                                            <h1 class="counter c-heading cbhead_628af3b7">433</h1>
                                        </div>
                                        <h4 class="cst_title c-heading cbhead_9d00ab80">旗下分公司</h4>
                                    </div>
                                    <div class="c-div div_a0lVjM">
                                        <div class="c-inlineblock c-imageblock imageblock_3dFSEY" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/896f9fa792779563218f6c83ec9a6c74_origin.png"
                                            style="background-size:     contain; background-position:     center center; background-repeat:     no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/896f9fa792779563218f6c83ec9a6c74_origin.png); "></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2_4 col-md-2_4 col-sm-6 col-xs-6 c-column c-inline-column cbcolu_55167b8f">
                                <div class="cst_block_item c-div cbdiv_86dfe99e">
                                    <div class="c-div div_0IvtW8">
                                        <div class="c-div cbdiv_11b57f7b">
                                            <h1 class="counter c-heading cbhead_628af3b7">33876</h1>
                                            <p class="c-paragraph paragraph_tRZxOk">+</p>
                                        </div>
                                        <h4 class="cst_title c-heading cbhead_9d00ab80">客户数量</h4>
                                    </div>
                                    <div class="c-div div_a0lVjM">
                                        <div class="c-inlineblock c-imageblock imageblock_3dFSEY" mode="aspectFit" src="http://qty83k.creatby.com/materials/95622/origin/f7a0c842b66526decddfec0ba3fd3ac5_origin.png"
                                            style="background-size:     contain; background-position:     center center; background-repeat:     no-repeat; background-image: url(http://qty83k.creatby.com/materials/95622/origin/f7a0c842b66526decddfec0ba3fd3ac5_origin.png); "></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2_4 col-md-2_4 col-sm-6 col-xs-6 hidden-sm hidden-xs c-column c-inline-column cbcolu_55167b8f">
                                <div class="cst_block_item c-div cbdiv_86dfe99e">
                                    <div class="c-div div_0IvtW8">
                                        <div class="c-div cbdiv_11b57f7b">
                                            <p class="c-paragraph youziku-c5a8f46018ec4cdfa827ba6989ffa10e paragraph_lUBfRo">更多资讯</p>
                                        </div>
                                        <h4 class="cst_title c-heading cbhead_9d00ab80">敬请期待</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-embedcode cbembe_4ca650d4">
                        <script src="https://cdn.bootcss.com/waypoints/2.0.3/waypoints.min.js"></script>
                        <script src="https://cdn.bootcss.com/Counter-Up/1.0/jquery.counterup.min.js"></script>
                        <script>
                            (function (window) {
                                $('.counter').counterUp({
                                    delay: 10,
                                    time: 2000
                                });
                            })(window)
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_07104483" data-c_tl_id="tl_482f2041" id="section83166551">
        <div class="container cst_container_base c-container-1 cbcont_8db4d5e9">
            <div class="c-div div_czV3sw">
                <div class="c-div div_JB2DjW">
                    <div class="c-div c-initHide cbdiv_39e021e0" data-c_ani_id="ani_849c1a421a19fdec">
                        <p class="c-paragraph massage_title">信息发送SAUNDERS</p>
                        <p class="c-paragraph cbpara_4b78698c">Write a message to us</p>
                        <div class="c-div cbdiv_e76c08ce"></div>
                    </div>
                    <div class="c-div c-initHide div_Gszz6r" data-c_ani_id="ani_1b3371840f70be23">
                        <form class="c-form formwidget_aTXowa" data-action="/form/info/?format=json" data-c_form="true">
                            <input class="c-input input_name" name="name" placeholder="姓名 / Name" required="True" type="text" />
                            <input class="c-input input_phone" name="telphone" placeholder="电话 / Phone" required="True" type="text" />
                            <input class="c-input input_subject" name="type" placeholder="业务类型 / Subject" required="True" type="text" />
                            <input class="c-input input_email" name="email" placeholder="电子邮箱 / E-mail" required="True" type="email" />
                            <textarea class="c-input c-textarea textarea_GvPUo2" name="content" placeholder="内容 / Text" required="True"></textarea>
                            <button class="youziku-48c15647d6414b1d865b2ee9b7d53df4 submit_X0eAuy" name="" type="submit" wait="">将信息发送至SAUNDERS</button>
                            <h3 class="c-successmessage successmessage_ZXuC7O">谢谢,表单已提交成功！</h3>
                            <h4 class="c-errormessage errormessage_JDJ1Pl">请完整填写表单的信息后，再进行提交！</h4>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_a547fa51" data-c_tl_id="tl_8841511c" id="sectionba92a0ba">
        <div class="cst_sectionBGwrap c-div cbdiv_b1bc18e4">
            <div class="cst_sectionBG c-div cbdiv_e6834f28" src="http://qty83k.creatby.com/materials/95622/origin/3755e7e13d6b326d13a1d86a31f1d108_origin.jpg"
                style="background-image: url('http://qty83k.creatby.com/materials/95622/origin/3755e7e13d6b326d13a1d86a31f1d108_origin.jpg'); ">
                <div class="cst_overlay c-div cbdiv_d1a38439"></div>
            </div>
        </div>
        <div class="container cst_container_base c-container-1 cbcont_2a5290db">
            <div class="c-div div_R8aGO0">
                <div class="c-div div_Ml2ukZ">
                    <div class="c-div div_IVkN4Q">
                        <div class="c-div c-initHide div_Wt96rg" data-c_ani_id="ani_c015493d753eacad">
                            <div class="c-div div_r3DxsT">
                                <a class="c-textlink textlink_OsLYwX" href="#"></a>
                            </div>
                            <p class="c-paragraph paragraph_IsyezX">在旅行作为一种社会行为，古代即以存在，中国是世界文明古国之一，旅行活动的兴起同样居世界前列，中国早在公元前22世纪就有了。当时最典型的旅行家大概要数大禹了，他为了疏浚九江十八河，游览了大好河山。
                                <br/>
                            </p>
                            <div class="c-div cs-repeatable div_mADiDs">
                                <div class="c-div div_SKVkXn">
                                    <div class="c-div div_1GBSVD">
                                        <i class="fa fa-map-marker c-icon icon_jdeIU9"></i>
                                    </div>
                                    <div class="c-div div_UueHuy">
                                        <p class="c-paragraph paragraph_8ZpSxx">中国地区上海市长宁区SAUNDERS大厦</p>
                                    </div>
                                </div>
                                <div class="c-div cbdiv_c23f3e10">
                                    <div class="c-div cbdiv_fa5fd714">
                                        <i class="fa fa-phone c-icon cbicon_ad273e5b"></i>
                                    </div>
                                    <div class="c-div cbdiv_cd9ac49a">
                                        <p class="c-paragraph cbpara_742d59e8">021-88888888</p>
                                    </div>
                                </div>
                                <div class="c-div cbdiv_883081e6">
                                    <div class="c-div cbdiv_106000e3">
                                        <i class="fa fa-envelope-square c-icon cbicon_a9cc93e3"></i>
                                    </div>
                                    <div class="c-div cbdiv_63b2c890">
                                        <p class="c-paragraph cbpara_567fd2bf">support@21epub.com  </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs c-div div_ECDdDy">
                        <div class="c-div c-initHide div_FjRQao" data-c_ani_id="ani_431764cd91556899">
                            <p class="c-paragraph paragraph_VqH5jw">SAUNDERS资讯</p>
                            <div class="c-div div_ixeCUC"></div>
                            <div class="c-div div_dZCenY">
                                <div class="cst_mLR-15 cst_cardlist_list_base_CMS c-div cbdiv_648289f0">
                                    <div class="c-contentlistviewv2 cbcont_4e3f2079">
                                        <ul class="cst_textLinkstyle row c-list cblist_b5c9c765">
                                            <li class="cst_block_item c-listitem c-inline-column cblist_121551c4" data-c_content_url="/sites/ynzzkt/index/595519170ab5910e80c843de/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="c-div div_zm0mYh">
                                                    <p class="c-ellipse c-paragraph paragraph_zfyykd">为了证明伊朗岩石之乡的攀岩潜市场并非如人们所想的那般微渺，新浪潮(New Wave)建筑公司在 Polue 建起了一处新的攀岩建筑。该建筑矗立于伊朗的最高峰之前，建筑内外墙均可攀爬；碎片化的设计与周围的景致相融合，既最大化了日光利用率，又让攀岩者充分感受到该地的自然景观。</p>
                                                    <div class="c-div div_Izet9v">
                                                        <i class="glyphicon glyphicon-time c-icon icon_XAmxxK"></i>
                                                        <div class="c-div youziku-e094346a5670469eaacd0dcc3afa6f0d div_evSOzE">
                                                            <a class="c-textlink youziku-898681ae091a46588cab43189b880a2e textlink_nUlDTG" href="/sites/ynzzkt/newsdetails/595519170ab5910e80c843de/">2017-07-04 11:02</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="cst_block_item c-listitem c-inline-column cblist_121551c4" data-c_content_url="/sites/ynzzkt/index/5ab9b034c8d27f0585619ca5/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="c-div div_zm0mYh">
                                                    <p class="c-ellipse c-paragraph paragraph_zfyykd">内容简介：2018年上海浦东新区装修公司排名，2018年浦东新区装修公司哪家好？转眼间2018年已经来临，很多浦东新区装修公司有的已经消声觅迹</p>
                                                    <div class="c-div div_Izet9v">
                                                        <i class="glyphicon glyphicon-time c-icon icon_XAmxxK"></i>
                                                        <div class="c-div youziku-e094346a5670469eaacd0dcc3afa6f0d div_evSOzE">
                                                            <a class="c-textlink youziku-898681ae091a46588cab43189b880a2e textlink_nUlDTG" href="/sites/ynzzkt/newsdetails/5ab9b034c8d27f0585619ca5/">2018-03-27 10:45</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-sm hidden-xs c-div div_C2o8fP">
                        <div class="c-div c-initHide div_mcOfFo" data-c_ani_id="ani_ab7b72b5a1456bcd">
                            <p class="c-paragraph paragraph_VqH5jw">快速导航入口</p>
                            <div class="c-div div_ixeCUC"></div>
                            <div class="c-div cs-repeatable div_aFpmKS">
                                <div class="c-div div_cjzCmJ">
                                    <a class="c-textlink textlink_4XGEGD" href="/">网站首页</a>
                                    <a class="c-textlink textlink_xeD7eH" href="/">Home</a>
                                </div>
                                <div class="c-div div_cjzCmJ">
                                    <a class="c-textlink textlink_4XGEGD" href="/product">精品路线</a>
                                    <a class="c-textlink textlink_xeD7eH" href="/product">Tourist route</a>
                                </div>
                                <div class="c-div div_cjzCmJ">
                                    <a class="c-textlink textlink_4XGEGD" href="/news">行业新闻</a>
                                    <a class="c-textlink textlink_xeD7eH" href="/news">News center</a>
                                </div>
                                <div class="c-div div_cjzCmJ">
                                    <a class="c-textlink textlink_4XGEGD" href="/advantage">服务优势</a>
                                    <a class="c-textlink textlink_xeD7eH" href="/advantage">Advantage</a>
                                </div>
                                <div class="c-div div_cjzCmJ">
                                    <a class="c-textlink textlink_4XGEGD" href="/about">关于我们</a>
                                    <a class="c-textlink textlink_xeD7eH" href="/about">About us</a>
                                </div>
                                <div class="c-div div_cjzCmJ">
                                    <a class="c-textlink textlink_4XGEGD" href="/contact">联系我们</a>
                                    <a class="c-textlink textlink_xeD7eH" href="/contact">Contact us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs c-div div_RHQ41K">
                        <div class="c-div c-initHide div_oNsHJY" data-c_ani_id="ani_218bac3bb3ec152c">
                            <p class="c-paragraph paragraph_VqH5jw">精品度假路线</p>
                            <div class="c-div div_ixeCUC"></div>
                            <div class="c-div div_p9jdYz">
                                <div class="cst_hoverLink_effect03 cst_hovershadow_Griditem cst_mLR-15 cst_cardlist_grid_base_CMS c-div cbdiv_2391de30">
                                    <div class="cst_gridSpace c-contentlistviewv2 cbcont_f9834dfb">
                                        <div class="row cst_textSetting c-row cbrow_a2de5160">
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_e8cebb14" data-c_content_url="/sites/ynzzkt/index/5aa9fd536c8569692ddfd2db/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="div_foot_product c-div div_ZMSSqr">
                                                    <div class="img_foot_product c-inlineblock c-imageblock imageblock_cMLRlL" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/8a4fb165b4a870724e702c842856b008_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/c73f94421f41cdbb8a6b63d973aa23c8_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                                    <div class="div_foot_product_hover c-div div_GQshK2">
                                                        <p class="c-paragraph paragraph_p8cSVm">more</p>
                                                    </div>
                                                    <a class="c-linkblock linkblock_8XbgbR" href="/sites/ynzzkt/casedetails/5aa9fd536c8569692ddfd2db/"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_e8cebb14" data-c_content_url="/sites/ynzzkt/index/5aa9fd546c8569692891749d/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="div_foot_product c-div div_ZMSSqr">
                                                    <div class="img_foot_product c-inlineblock c-imageblock imageblock_cMLRlL" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/8a4fb165b4a870724e702c842856b008_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/a2198eca095cacb017959d236213a21f_origin_YgAAmt3.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                                    <div class="div_foot_product_hover c-div div_GQshK2">
                                                        <p class="c-paragraph paragraph_p8cSVm">more</p>
                                                    </div>
                                                    <a class="c-linkblock linkblock_8XbgbR" href="/sites/ynzzkt/casedetails/5aa9fd546c8569692891749d/"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_e8cebb14" data-c_content_url="/sites/ynzzkt/index/5aa9fd556c8569692b44dab8/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="div_foot_product c-div div_ZMSSqr">
                                                    <div class="img_foot_product c-inlineblock c-imageblock imageblock_cMLRlL" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/8a4fb165b4a870724e702c842856b008_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/05540e58ee45205254b31d3b9de05cfe_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                                    <div class="div_foot_product_hover c-div div_GQshK2">
                                                        <p class="c-paragraph paragraph_p8cSVm">more</p>
                                                    </div>
                                                    <a class="c-linkblock linkblock_8XbgbR" href="/sites/ynzzkt/casedetails/5aa9fd556c8569692b44dab8/"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_e8cebb14" data-c_content_url="/sites/ynzzkt/index/5aa9fd566c8569692747bbd2/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="div_foot_product c-div div_ZMSSqr">
                                                    <div class="img_foot_product c-inlineblock c-imageblock imageblock_cMLRlL" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/8a4fb165b4a870724e702c842856b008_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/38bbeab0881568104d85fae9fec50a67_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                                    <div class="div_foot_product_hover c-div div_GQshK2">
                                                        <p class="c-paragraph paragraph_p8cSVm">more</p>
                                                    </div>
                                                    <a class="c-linkblock linkblock_8XbgbR" href="/sites/ynzzkt/casedetails/5aa9fd566c8569692747bbd2/"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_e8cebb14" data-c_content_url="/sites/ynzzkt/index/5aa9fd566c8569692891749e/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="div_foot_product c-div div_ZMSSqr">
                                                    <div class="img_foot_product c-inlineblock c-imageblock imageblock_cMLRlL" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/8a4fb165b4a870724e702c842856b008_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/a84141b4eb2fd68792d1535a8e17aee8_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                                    <div class="div_foot_product_hover c-div div_GQshK2">
                                                        <p class="c-paragraph paragraph_p8cSVm">more</p>
                                                    </div>
                                                    <a class="c-linkblock linkblock_8XbgbR" href="/sites/ynzzkt/casedetails/5aa9fd566c8569692891749e/"></a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 c-column c-inline-column cbcolu_e8cebb14" data-c_content_url="/sites/ynzzkt/index/5aa9fd576c8569692b44dab9/contentview_58c9f0cc/"
                                                data-c_contentview_id="contentview_58c9f0cc">
                                                <div class="div_foot_product c-div div_ZMSSqr">
                                                    <div class="img_foot_product c-inlineblock c-imageblock imageblock_cMLRlL" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/8a4fb165b4a870724e702c842856b008_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/c2fd7d4e72b50267d2ce0295507d753a_origin.jpg);background-size: cover;background-repeat: no-repeat;: ;background-position: center center;"></div>
                                                    <div class="div_foot_product_hover c-div div_GQshK2">
                                                        <p class="c-paragraph paragraph_p8cSVm">more</p>
                                                    </div>
                                                    <a class="c-linkblock linkblock_8XbgbR" href="/sites/ynzzkt/casedetails/5aa9fd576c8569692b44dab9/"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- {{> footer}} --}}
</div>
<script>

    var page_slug = 'index';
console.log(new Date().getTime())
console.log(document.querySelector('.c-navlistitem'))
</script>
<script type="text/javascript" src="http://version.coolsite360.com/ynzzkt/15/index_data.js"></script>
<script>
    new Vue({
        el:'.app',
        data:{
            name:"wenjie"
        }
    })
</script>