<link rel="stylesheet" href="./css/v02s.css">
<div class="v02">
	{{> header}}
	<div class="content-one">
		<div class="wj bounceInDown">
			<h1>VO2S</h1>
			<p>力造全新精准农业</p>
			<p>让植保更简单</p>
		</div>
	</div>
	<div class="content-two">
		<div class="content-two-t">
			<div class="two-t-l" >
				<div>
					<h2>工艺工艺</h2>
					<h2>工艺工艺</h2>
					<span>工艺工艺</span>
					<span>工艺工艺</span>
					<span>工艺工艺</span>
				</div>
				
			</div>
			<div class="two-t-r">
				<div class="w-t-r-c">
					<div class="w-t-r-c-title">
						<span>V02S-科技让植保更简单</span>
					</div>
					<ul>
						<li><span></span><span>50-200um告诉阿斯达阿斯达删掉</span></li>
						<li><span></span><span>50-200um告诉阿斯达阿斯达删掉</span></li>
						<li><span></span><span>50-200um告诉阿斯达阿斯达删掉</span></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="content-two-b">
			<ul>
				<li>
					<div><img src="./imgs/v02s/blow.png" alt=""></div>
					<h3>高速离心雾化喷涂</h3>
					<p>50-200um药物 各农作物敬请吸收</p>
				</li>
				<li>
					<div><img src="./imgs/v02s/control.png" alt=""></div>
					<h3>高速离心雾化喷涂</h3>
					<p>50-200um药物 各农作物敬请吸收</p>
				</li>
				<li>
					<div><img src="./imgs/v02s/battery.png" alt=""></div>
					<h3>高速离心雾化喷涂</h3>
					<p>50-200um药物 各农作物敬请吸收</p>
				</li>
			</ul>

		</div>
	</div>
	<div class="content-three">
		<div class="content-three-box">
			<div class="three-box-t">
				<div class="three-title">
					V02S
				</div>
				<ul>
					<li>
						<img src="./imgs/v02s/icon_land.png" alt="">
						<h3>适应地形</h3>
						<p>耐高低温</p>
						<p>适应各地各级作业</p>
					</li>
					<li>
						<img src="./imgs/v02s/icon_land.png" alt="">
						<h3>适应地形</h3>
						<p>耐高低温</p>
						<p>适应各地各级作业</p>
					</li>
					<li>
						<img src="./imgs/v02s/icon_land.png" alt="">
						<h3>适应地形</h3>
						<p>耐高低温</p>
						<p>适应各地各级作业</p>
					</li>
					<li>
						<img src="./imgs/v02s/icon_land.png" alt="">
						<h3>适应地形</h3>
						<p>耐高低温</p>
						<p>适应各地各级作业</p>
					</li>
					<li>
						<img src="./imgs/v02s/icon_land.png" alt="">
						<h3>适应地形</h3>
						<p>耐高低温</p>
						<p>适应各地各级作业</p>
					</li>
				</ul>

			</div>
			<div class="three-box-b">
				<div class="three-title">
					传统无人机
				</div>
				<ul>
					<li>挨打的十点多</li>
					<li>挨打的十点多</li>
					<li>挨打的十点多</li>
					<li>挨打的十点多</li>
					<li>挨打的十点多</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-four">
		<h1>作业APP</h1>
		<p class="info">以及多控以及多控以及多控以及多控以及多控</p>
		<div class="swiper">

		</div>

	</div>
	<div class="content-five">
		<div class="five-box">

		</div>
		
	</div>
	{{> footer}}
</div>
<style type="text/css">
	* {
		margin: 0;
		padding: 0;
		/*font-family: "微软雅黑";*/
	}
</style>