<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta content="{{keywords}}" name="keywords">
    <meta content="{{description}}" name="description">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<script>
			coolsite360 = {
				PlayerPlugins: []
			};
			var _gaq = _gaq || [],
				_paq = _paq || [];
			var weixin_initial = 0,
				preview_mode = 0,
				clear_loading_progress_waiting = 0,
				weixin_config_ready = 0,
				epub360_domain = 'epub360';
		</script>
		<!--[if lt ie 9]>
		<script src="https://cdn.bootcss.com/es5-shim/4.5.9/es5-shim.js"></script>
		<script src="https://cdn.bootcss.com/es5-shim/4.5.9/es5-sham.js"></script>
		<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/object-assign.min.js"></script>
		<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/promise.js"></script>
		<script>
			// Polyfill, modifying the global Object
			window.ObjectAssign.polyfill();
		</script>
		<![endif]-->

		<link rel="stylesheet" type="text/css" href="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_css/jquery.fancybox.min.css">

		<link rel="stylesheet" type="text/css" href="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_css/animate.css">

		<link type="text/css" href="http://o3bnyc.creatby.com/diazo/c-built/play.built.7b5ddf9b.cache.css" rel="stylesheet" media="all">

		<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c-built/requireJS/jquery-1.8.1.min.js"></script>
		<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/bootstrap.min.js"></script>

		<link type="text/css" href="//version.coolsite360.com/ynzzkt/16/global_main.css" rel="stylesheet">
		<link type="text/css" href="//version.coolsite360.com/ynzzkt/16/global_fonts.css" rel="stylesheet">
		<script type="text/javascript">
			if(navigator.appVersion.match(/MSIE [678]./i) == null) {
				document.writeln('<link type="text/css" href="/css/styles.css" rel="stylesheet">')
			}
		</script>

		

		<!--[if lt ie 9]>
		<link type="text/css" href="//version.coolsite360.com/ynzzkt/16/styles_forie.css" rel="stylesheet">
		<script type="text/javascript" src="http://o3bnyc.creatby.com/play-coolsite360/thirdparty_js/html5shiv.js"></script>
		<script type="text/javascript" src="http://o3bnyc.creatby.com/play-coolsite360/thirdparty_js/selectivizr-min.js"></script>
		<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/respond.src.js"></script>
		<link href="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
		<link href="/staticfs/diazo/c_play/thirdparty_js/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
		<script src="/staticfs/diazo/c_play/thirdparty_js/respond.proxy.js"></script>
		<![endif]-->
  </head>
  <body>
    {{{body}}}
  </body>
 
	<script>
		var page_slug = 0;
	</script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/lunr.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/jquery.fancybox.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/headroom.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/jQuery.headroom.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/jarallax.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/greensock/TweenMax.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/greensock/plugins/DrawSVGPlugin.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/greensock/plugins/MorphSVGPlugin.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/thirdparty_js/vue-bundle.min.js"></script>

	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_pro/js/vendor_c.bundle.built.530226db.cache.js"></script>
	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_pro/js/pack.built.8245bfd0.cache.js"></script>
	<script type="text/javascript" src="http://o3bnyc.creatby.com/diazo/c_play/js/cst.built.426f7fd1.cache.js"></script>
    
    
    <script src="/js/global.js"></script>
	<!-- ie8 以下版本提示信息 -->
	<!--[if lt ie 8]>
		<script type="text/javascript">
			window.onload = function() {
				document.getElementById('browser-tip').style.display = "block";
				document.getElementsByTagName('body')[0].style.paddingTop = "50px";
			}

			function hide() {
				document.getElementById('browser-tip').style.display = "none";
				document.getElementsByTagName('body')[0].style.paddingTop = "0px";
			}
		</script>
		<![endif]-->
	<div id="browser-tip" style="position:fixed; top:0; left:0; right:0; z-index:9999; height:30px; line-height:33px; padding:10px 0 9px; text-indent:30px; font-size:15px; background:#fcf8e3; border-bottom:1px solid #fbeed5; width:100%;display:none;">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="display:block; float:right; z-index:9999; line-height:36px; margin-right: 0px;padding:0; font-size:32px; color:#666; box-shadow: 0; text-shadow:none; text-align:center; filter:alpha(opacity=100); -khtml-opacity:1; opacity:1;" onclick="hide()">×</button>
		<p style="text-align: center;">
			您当前使用的浏览器版本较低，为使您获得更好的操作体验，我们推荐您使用：
			<span style="margin-left:10px;">
                <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">
                    <img src="http://o3bnyc.creatby.com/admin-coolsite360/img/compatible_ie.gif" width="31" height="30" alt="Internet Explorer" title="Internet Explorer"></a>
                <a href="http://www.google.com/intl/zh-CN/chrome/" target="_blank">
                    <img src="http://o3bnyc.creatby.com/admin-coolsite360/img/compatible_chrome.gif" width="31" height="30" alt="Google Chrome" title="Google Chrome"></a>
                <a href="http://www.mozilla.org/zh-CN/firefox/new/" target="_blank">
                    <img src="http://o3bnyc.creatby.com/admin-coolsite360/img/compatible_firefox.gif" width="31" height="30" alt="Firefox" title="Firefox"></a>
                <a href="http://support.apple.com/zh_CN/downloads/#safari" target="_blank">
                    <img src="http://o3bnyc.creatby.com/admin-coolsite360/img/compatible_safari.gif" width="28" height="30" alt="Safari" title="Safari"></a>
            </span>
		</p>
	</div>

</html>
