<link rel="stylesheet" href="./css/monitor.css">
<div class="monitor app">
    <div class="content-one">
        <div class="box">
            <div class="l">
                <p>天麒农情监测系统</p>
                <p>防病患于未然 为农作物保驾护航</p>
                <p>先进数据传感技术 | 智能信息化农业 | 科学种植数据</p>
            </div>
            <div class="r">
                <img src="./imgs/monitor/1-1.png" alt="">
            </div>
        </div>

    </div>
    <div class="content-two">
        <div class="box">
            <h1 class="title">精密化设备 多维度服务</h1>
            <ul>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/2-1.png" alt="">
                    </div>
                    <p>全面的数据监测</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/2-2.png" alt="">
                    </div>
                    <p>精准科学的建议</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/2-3.png" alt="">
                    </div>
                    <p>病虫气象灾害预测</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/2-4.png" alt="">
                    </div>
                    <p>精准的生产预测</p>
                </li>
            </ul>

        </div>
    </div>
    <div class="content-three">
        <div class="box">
            <h1 class="title">多要素田间气象监测设备</h1>
            <p class="info">田间气象采集设备采用高度集成且高度模块化的设计，配合智能网关可进行大面积的部署，采用LoRa/NB-IoT/有线技术，解决了无论是在野外、大棚还是楼宇等复杂环境的数据实时采集问题，通过手机或者Pc软件可以远程访问设备采集的气象数据。</p>
            <ul>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-1.png" alt="">
                    </div>
                    <p>风速</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-2.png" alt="">
                    </div>
                    <p>风向</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-3.png" alt="">
                    </div>
                    <p>温度</p>
                </li>

                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-4.png" alt="">
                    </div>
                    <p>湿度</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-5.png" alt="">
                    </div>
                    <p>紫外线</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-6.png" alt="">
                    </div>
                    <p>雨量</p>
                </li>
                <li>
                    <div class="img">
                        <img src="./imgs/monitor/3-7.png" alt="">
                    </div>
                    <p>关照强度</p>
                </li>

            </ul>
            <div class="bimg">
                <img src="./imgs/monitor/3-8.png" alt="">
            </div>

        </div>
    </div>
    <div class="content-four">
        <div class="box">
            <h1 class="title">多要素土壤监测设备</h1>
            <p class="info">土壤检测设备采用模块化设计，每种采集要素可集成到设备中，并且可根据需要对不同土层要素进行监测，内置的LoRa/NB-IoT/3G/4G通信芯片既可以配合智能网关使用，也可单独传输数据。</p>
            <div class="b">
                <div class="l">
                    <ul class="">
                        <li>
                            <div class="img">
                                <img src="./imgs/monitor/4-1.png" alt="">
                            </div>
                            <p>盐分</p>
                        </li>
                         <li>
                            <div class="img">
                                <img src="./imgs/monitor/4-2.png" alt="">
                            </div>
                            <p>PH</p>
                        </li>
                         <li>
                            <div class="img">
                                <img src="./imgs/monitor/3-3.png" alt="">
                            </div>
                            <p>温度</p>
                        </li>
                         <li>
                            <div class="img">
                                <img src="./imgs/monitor/3-4.png" alt="">
                            </div>
                            <p>湿度</p>
                        </li>
                        
                    </ul>
                </div>
                <div class="r">
                    <img src="./imgs/monitor/4-5.png" alt="">
                </div>
            </div>

        </div>

    </div>
    <div class="content-five">
        <div class="box">
            <h1 class="title">前置化视频监测设备</h1>
            <p class="info">前置化摄像技术应用于摄像头，将枪机与球机配合，可以实时采集农作物群体特征及个体特征，并可通过光谱图像回传就行病虫害识别，同时具备移动侦测等安防功能。</p>
            <div class="b">
                <div class="l">
                    <img src="./imgs/monitor/5-3.png" alt="">

                </div>
                <div class="r">
                    <ul>
                        <li>
                            <img src="./imgs/monitor/5-1.png" alt="">
                            <p>群体特征</p>
                            <p>苗情</p>
                            <p>叶片颜色</p>
                            <p>生长状况</p>

                        </li>
                        <li>
                            <img src="./imgs/monitor/5-2.png" alt="">
                            <p>个体特征</p>
                            <p>株高</p>
                            <p>冠层大小</p>
                            <p>叶片面积</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>