<link rel="stylesheet" href="/css/newDetails.css">
<div class="newDetails app">
    <div class="box">
        <div class="title">
            <h2>{{data.doc.title}}</h2>
            <p>{{data.doc.updateDate}}</p>
        </div>
        <div class="content">
            {{{data.doc.comments}}}
        </div>
    </div>
</div>