<link rel="stylesheet" href="./css/news.css">
<div class="news app">
    <div class="content-one">

    </div>
    <div class="content-two">
        <div class="box">
            <ul>
                <li>
                    <a href="">
                        <div class="news-list">
                        <div class="l">
                            <div class="rborder"></div>
                            <div class="l-time">
                                <p>01-16</p>
                            </div>
                            <img src="./imgs/news/arrow.png" alt="" class="icon">
                        </div>
                        <div class="r">
                            <div class="r-l">
                                <p> 野外摄影师真是个高危又萌翻的职业</p>
                                <p>在进行照相时，光通过小孔（更多时候是一个透镜组）进入暗盒，在暗盒背部（相对于光入射方向）的介质上成像。根据实际光强度和介质感光能力的不同，要求的光照时间也不同。在光照过程中，介质被感光</p>
                            </div>
                            <div class="r-r">
                                <div>
                                    <div class="imgs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>