<div class="app">
   {{> header}}
    <div class="container-fluid cst_sectionBlock cst_BGtransparent c-section cbsect_44fc32b4" data-c_tl_id="tl_86b5022c">
        <div class="cst_sectionBGwrap c-div cbdiv_0dbb9a93">
            <div class="cst_sectionBG c-div cbdiv_38e95c95" src="http://qty83k.creatby.com/materials/95622/origin/26d24112023a40a86c8f2a4335b63c8e_origin.jpg"
                style="background-image: url('http://qty83k.creatby.com/materials/95622/origin/26d24112023a40a86c8f2a4335b63c8e_origin.jpg'); "></div>
        </div>
        <div class="container cst_container_base c-container-1 cbcont_b4ac4941">
            <div class="c-div div_XgEOjs"></div>
        </div>
    </div>
    <div class="container-fluid cst_sectionBlock c-section cbsect_4cd3b0ac" data-c_tl_id="tl_50c7fb36" id="section8e9cd90e">
        <div class="container cst_container_base c-container-1 cbcont_5b3904c4">
            <div class="c-div div_BtNa4j">
                <div class="c-div div_s8stb6">
                    <div class="cst_mLR-15 cst_cardlist_list_base_CMS c-div cbdiv_04e18154">
                        <div class="c-contentlistviewv2 cbcont_78b9dd95" infiniteScroll="False">
                            <ul class="cst_textLinkstyle row cst_griditem_buttomBorder c-list cblist_40660752">
                                <li class="cst_block_item c-listitem c-inline-column c-initHide cblist_7d62b5a3" data-c_ani_id="ani_da3f89771fde62aa" data-c_content_url="/sites/ynzzkt/index/5a5da6c4c8d27f3cecb15769/contentview_58c9f0cc/"
                                    data-c_contentview_id="contentview_58c9f0cc" v-for='n in 9'>
                                    <div class="div_news_list c-div div_HLEzK5">
                                        <div class="c-div div_zYJIYJ">
                                            <div class="c-div div_jr3hsH">
                                                <p class="date_news_list c-paragraph youziku-e094346a5670469eaacd0dcc3afa6f0d paragraph_Yan2pE">2018-01-16 15:16</p>
                                            </div>
                                            <i class="fa fa-long-arrow-right c-icon icon_NFpuIe"></i>
                                            <div class="div_news_list_border c-div div_Q69sHY"></div>
                                        </div>
                                        <div class="c-div div_AQDm41">
                                            <div class="div_news_list_text c-div div_2LCvqN">
                                                <p class="c-ellipse c-paragraph paragraph_wl8ZM9"> 白俄罗斯当代摄影展《独立日》在重庆开展</p>
                                                <p class="c-ellipse c-paragraph paragraph_smpnif">在进行照相时，光通过小孔（更多时候是一个透镜组）进入暗盒，在暗盒背部（相对于光入射方向）的介质上成像。根据实际光强度和介质感光能力的不同，要求的光照时间也不同。在光照过程中，介质被感光</p>
                                            </div>
                                            <div class="div_news_list_img hidden-xs c-div div_Mjx9ZR">
                                                <div class="c-div div_JrwVKQ">
                                                    <div class="img_news_list c-inlineblock c-imageblock imageblock_n7AGjp" mode="aspectFill" src="http://qty83k.creatby.com/materials/95622/origin/914fd71cb62731daf82390e97f986777_origin.jpg"
                                                        style="background-image: url(http://qty83k.creatby.com/materials/95622/origin/bf3b97ebff7bd15f2d8fecb1bda74002_origin.jpg);background-size: cover;background-repeat: no-repeat;background-position: center center;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="c-linkblock linkblock_NFVBO1" href="/sites/ynzzkt/newsdetails/5a5da6c4c8d27f3cecb15769/"></a>
                                    </div>
                                </li>
                            </ul>
                            <nav class="text-center c-pagination pagination_HKnHrf">
                                <ul class="pagination c-pagination-list c-initHide list_3sveEP">

                                    <li class="c-pagination-listitem listitem_g1xLL5 active">

                                        <a class="c-paginationlink paginationlink_fx6NKQ">
                                            1
                                        </a>

                                    </li>

                                    <li class="c-pagination-listitem listitem_g1xLL5 ">

                                        <a class="c-paginationlink paginationlink_fx6NKQ" href="/sites/ynzzkt/news.html?page=2&list_id=contentlistviewd3ed5731">
                                            2
                                        </a>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> footer}}
</div>
<script type="text/javascript" src="//version.coolsite360.com/ynzzkt/15/news_data.js"></script>
<script>
    var page_slug = 'news';
</script>

<script>

    new Vue({
        el: '.app',
        data: {

        }
    })
</script>