<link rel="stylesheet" href="./css/solution.css">
<div class="solution page">

    <div class="content-one">
        <div class="box">
            <div class="l">
                <span>无人机无人值守平台</span>
                <span>无人机真正无人化</span>
            </div>
            <div class="r">
                <img src="./imgs/solution/1/box1.png" alt="" />
            </div>
        </div>
    </div>
    <div class="content-two">
        <div class="box">
            <ul>
                <li>
                    <img src="./imgs/solution/1/icon1.png" alt="" />
                    <div class="border">
                        <span>智能续航系统</span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <img src="./imgs/solution/1/icon2.png" alt="" />
                    <div class="border">
                        <span>智能续航系统</span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <img src="./imgs/solution/1/icon3.png" alt="" />
                    <div class="border">
                        <span>智能续航系统</span>
                        <span></span>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="content-three">
        <div class="box">
            <div class="title">无人机移动补给站</div>
            <div class="swiper">

            </div>

        </div>
    </div>
    <div class="content-four">
        <div class="box">
            <img src="./imgs/solution/1/video.png" alt="">
            {{!-- <video  poster="./imgs/solution/1/video.png">

            </video> --}}
        </div>
    </div>
    <div class="content-one content-five ">
        <div class="box">
            <div class="l">
                <span>天麒V04</span>
                <span>更懂无人机的天麒全自主作业平台</span>
            </div>
            <div class="r">
                <img src="./imgs/solution/1/box2.png" alt="" />
            </div>
        </div>
    </div>

    <div class="content-six">
        <div class="box">
            <div class="title">
                全自动操控
            </div>
            <div class="bottom">
                <div class="l">
                    <ul>
                        <li>
                            <img src="./imgs/solution/1/icon4.png" alt="">
                            <div>
                                80s自动完成电池
                                <br/> 药剂补给
                            </div>
                        </li>
                        <li>
                            <img src="./imgs/solution/1/icon5.png" alt="">
                            <div>
                                80s自动完成电池
                                <br/> 药剂补给
                            </div>
                        </li>
                        <li>
                            <img src="./imgs/solution/1/icon6.png" alt="">
                            <div>
                                80s自动完成电池
                                <br/> 药剂补给
                            </div>
                        </li>
                        <li>
                            <img src="./imgs/solution/1/icon7.png" alt="">
                            <div>
                                80s自动完成电池
                                <br/> 药剂补给
                            </div>
                        </li>
                    </ul>


                </div>
                <div class='r'>
                    <img src="./imgs/solution/1/handle.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="content-seven">
        <div class="box">
            <div class="title">
                移动全能王
            </div>
            <ul>
                <li>
                    <div>
                        <img src="./imgs/solution/1/4.png" alt="">
                    </div>
                    <div>
                        <span>小型续航中心</span>
                    </div>
                    <div>
                        <span>自由移动 续电续电</span>
                        <span>自由移动 续电续电</span>
                        <span>自由移动 续电续电</span>
                    </div>
                    <div></div>
                </li>
                <li>
                    <div>
                        <img src="./imgs/solution/1/5.png" alt="">
                    </div>
                    <div>
                        <span>小型续航中心</span>
                    </div>
                    <div>
                        <span>自由移动 续电续电</span>
                        <span>自由移动 续电续电</span>
                        <span>自由移动 续电续电</span>
                    </div>
                    <div></div>
                </li>
                <li>
                    <div>
                        <img src="./imgs/solution/1/6.png" alt="">
                    </div>
                    <div>
                        <span>小型续航中心</span>
                    </div>
                    <div>
                        <span>自由移动 续电续电</span>
                        <span>自由移动 续电续电</span>
                        <span>自由移动 续电续电</span>
                    </div>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
</div>