<link rel="stylesheet" href="./css/solution.css">
<div class="solution app">

    <div class="content-one">
        <div class="box">
            <div class="l">
                <span>无人机无人值守平台</span>
                <span>无人机真正无人化</span>
            </div>
            <div class="r">
                <img data-original="./imgs/solution/1/box1.png" alt="" />
            </div>
        </div>
    </div>
    <div class="content-two">
        <div class="box">
            <ul>
                <li>
                    <img data-original="./imgs/solution/1/icon1.png" alt="" />
                    <div class="border">
                        <span>智能续航系统</span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <img data-original="./imgs/solution/1/icon2.png" alt="" />
                    <div class="border">
                        <span>降低人工成本</span>
                        <span></span>
                    </div>
                </li>
                <li>
                    <img data-original="./imgs/solution/1/icon3.png" alt="" />
                    <div class="border">
                        <span>多领域适用性</span>
                        <span></span>
                    </div>
                </li>
            </ul>

        </div>
    </div>
    <div class="content-three">
        <div class="box">
            <div class="title">无人机移动补给站</div>
            <div class="swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide1"></div>
                        <div class="swiper-slide slide2"></div>
                        <div class="swiper-slide slide3"></div>
                        <div class="swiper-slide slide4"></div>
                        <div class="swiper-slide slide5"></div>
                        <div class="swiper-slide slide6"></div>
                        <div class="swiper-slide slide7"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination swiper-pagination-bullets"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="content-four">
        <div class="box">
            <img data-original="./imgs/solution/1/video.png" alt="">
            <img src="./imgs/solution/1/icon video.png" alt="" class="play">
        </div>
    </div>
    {{!--
    <div class="videos">
        <video src="./videos/vr1226.mp4" controls poster="./imgs/solution/1/video.png">
            <img src="./imgs/solution/1/video.png" alt="">
        </video>


    </div> --}}
    <div class="content-one content-five ">
        <div class="box">
            <div class="l">
                <span>天麒V04</span>
                <span>更懂无人机的全自主作业平台</span>
            </div>
            <div class="r">
                <img data-original="./imgs/solution/1/box2.png" alt="" />
            </div>
        </div>
    </div>

    <div class="content-six">
        <div class="box">
            <div class="title">
                全自动操控
            </div>
            <div class="bottom">
                <div class="l">
                    <ul>
                        <li>
                            <img data-original="./imgs/solution/1/icon4.png" alt="">
                            <div>
                                80s自动完成电池
                                <br/> 药剂补给
                            </div>
                        </li>
                        <li>
                            <img data-original="./imgs/solution/1/icon5.png" alt="">
                            <div>
                                EPS电源可供
                                <br/> 6块电池充电
                            </div>
                        </li>
                        <li>
                            <img data-original="./imgs/solution/1/icon6.png" alt="">
                            <div>
                                自动起降
                                <br/> 无需人工搬运
                            </div>
                        </li>
                        <li>
                            <img data-original="./imgs/solution/1/icon7.png" alt="">
                            <div>
                                作业数据采集
                                <br/> 部署方案规划
                            </div>
                        </li>
                    </ul>


                </div>
                <div class='r'>
                    <img data-original="./imgs/solution/1/handle.png" alt="">
                </div>
            </div>

        </div>
    </div>
    <div class="content-seven">
        <div class="box">
            <div class="title">
                移动全能王
            </div>
            <ul>
                <li>
                    <div>
                        <img data-original="./imgs/solution/1/4.png" alt="">
                    </div>
                    <div>
                        <span>小型续航中心</span>
                    </div>
                    <div>
                        <span>自由移动 续电续药</span>
                        <span>电池自动更换及续充 自动清洗均匀注药</span>
                        <span>自主起降平台 精准定位：±5-20cm</span>
                    </div>
                    <div></div>
                </li>
                <li>
                    <div>
                        <img data-original="./imgs/solution/1/5.png" alt="">
                    </div>
                    <div>
                        <span>云数据中心</span>
                    </div>
                    <div>
                        <span>田间云数据采集、储存及上传</span>

                    </div>
                    <div></div>
                </li>
                <li>
                    <div>
                        <img data-original="./imgs/solution/1/6.png" alt="">
                    </div>
                    <div>
                        <span>调控布局中心</span>
                    </div>
                    <div>
                        <span>一控多机自主供给 续航调控平台</span>

                    </div>
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
</div>