<link rel="stylesheet" href="./css/v02.css">
<div class="v02">
	<div class="content-one content">
		<div class="box">
			<div class="l wj bounceInLeft">
				<h1>SKYLIN V02</h1>
				<p>哒哒哒打</p>
				<p>哒哒哒打</p>
			</div>
			<div class="r">
				<img src="./imgs/v02/V02.png" alt="" class="wj bounceInRight">
			</div>
		</div>
	</div>
	<div class="content-two content">
		<div class="box  wj fadeInUp">
			<ul>
				<li>
					<img src="./imgs/v02/2-1.png" alt="" srcset="">
					<h3>全自动化</h3>
					<p>自主飞行</p>
					<p>精准喷药</p>
					<p>智能避障</p>
				</li>
				<li>
					<img src="./imgs/v02/2-2.png" alt="" srcset="">
					<h3>全自动化</h3>
					<p>自主飞行</p>
					<p>精准喷药</p>
					<p>智能避障</p>
				</li>
				<li>
					<img src="./imgs/v02/2-3.png" alt="" srcset="">
					<h3>全自动化</h3>
					<p>自主飞行</p>
					<p>精准喷药</p>
					<p>智能避障</p>
				</li>

			</ul>

		</div>

	</div>
	<div class="content-three content">
		<div class="box wj fadeInUp">
			<h1>天麒V02全自动质保无人机</h1>
			<div class="three-b">
				<div class="l">
					<img src="./imgs/v02/3-1.png" alt="" srcset="">
				</div>
				<div class="r">
					<ul>
						<li>
							<div>
								<span></span>
								<p>只能只能</p>
							</div>
							<div>只能只能</div>
							<div>只能只能只能只能</div>
						</li>
						<li>
							<div>
								<span></span>
								<p>只能只能</p>
							</div>
							<div>只能只能</div>
							<div>只能只能只能只能</div>
						</li>
						<li>
							<div>
								<span></span>
								<p>只能只能</p>
							</div>
							<div>只能只能</div>
							<div>只能只能 只能只能只能</div>
						</li>
						<li>
							<div>
								<span></span>
								<p>只能只能</p>
							</div>
							<div>只能只能</div>
							<div>只能只能 只能只能只能</div>
						</li>


					</ul>
				</div>
			</div>
		</div>


	</div>
	<div class="content-four content">
		<div class="box  wj fadeInUp">
			<h1>v02参数</h1>
			<div class="box-b">
				<div class="l">
					<div class="t">
						<div class="title">
							<div>
								尺寸示意图
							</div>
							<div></div>
						</div>
						<img src="./imgs/v02/4-1.png" alt="" class="sy">
					</div>
					<div class="b">
						<div class="items-box">
							<div class="title">
								<div>
									尺寸示意图
								</div>
								<div></div>
							</div>
							<div class="items">
								<div class="item">
									<span>整体重量(不含电池)</span>
									<span>13.6kg</span>
								</div>
								<div class="item">
									<span>作业效率</span>
									<span>60亩/小时</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="r">
					<div class="items-box">
						<div class="title">
							<div>
								尺寸示意图
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>整体重量(不含电池)</span>
								<span>13.6kg</span>
							</div>
							<div class="item">
								<span>作业效率</span>
								<span>60亩/小时</span>
							</div>
						</div>
					</div>
					<div class="items-box">
						<div class="title">
							<div>
								尺寸示意图
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>整体重量(不含电池)</span>
								<span>13.6kg</span>
							</div>
							<div class="item">
								<span>作业效率</span>
								<span>60亩/小时</span>
							</div>
						</div>
					</div>
					<div class="items-box">
						<div class="title">
							<div>
								尺寸示意图
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>整体重量(不含电池)</span>
								<span>13.6kg</span>
							</div>
							<div class="item">
								<span>作业效率</span>
								<span>60亩/小时</span>
							</div>
						</div>
					</div>
					<div class="items-box">
						<div class="title">
							<div>
								尺寸示意图
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>整体重量(不含电池)</span>
								<span>13.6kg</span>
							</div>
							<div class="item">
								<span>作业效率</span>
								<span>60亩/小时</span>
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>


	</div>
	<div class="content-five content">
		<div class="box wj fadeInUp">
			<h1>只能配件</h1>
			<ul>
				<li>
					<div>离心碰头 均需照耀</div>
					<img src="./imgs/v02/5-1.png" alt="">
					<p>离心碰头</p>
					<p>离心碰头</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>离心碰头 均需照耀</div>
					<img src="./imgs/v02/5-1.png" alt="">
					<p>离心碰头</p>
					<p>离心碰头</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>离心碰头 均需照耀</div>
					<img src="./imgs/v02/5-1.png" alt="">
					<p>离心碰头</p>
					<p>离心碰头</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>离心碰头 均需照耀</div>
					<img src="./imgs/v02/5-1.png" alt="">
					<p>离心碰头</p>
					<p>离心碰头</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>离心碰头 均需照耀</div>
					<img src="./imgs/v02/5-1.png" alt="">
					<p>离心碰头</p>
					<p>离心碰头</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>离心碰头 均需照耀</div>
					<img src="./imgs/v02/5-1.png" alt="">
					<p>离心碰头</p>
					<p>离心碰头</p>
					<div class="plan"></div>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>


</script>