<link rel="stylesheet" href="./css/v02.css">
<div class="v02 app">
	<div class="content-one content">
		<div class="box">
			<div class="l wj bounceInLeft">
				<h1>SKYLIN V02</h1>
				<p>科创未来</p>
				<p>更懂农作物的全自动无人机</p>
			</div>
			<div class="r">
				<img src="./imgs/v02/V02.png" alt="" class="wj bounceInRight">
			</div>
		</div>
	</div>
	<div class="content-two content">
		<div class="box  wj fadeInUp">
			<ul>
				<li>
					<img src="./imgs/v02/2-1.png" alt="" srcset="">
					<h3>全自动化</h3>
					<hr/>
					<p>自主飞行</p>
					<p>精准喷药</p>
					<p>智能避障</p>
				</li>
				<li>
					<img src="./imgs/v02/2-2.png" alt="" srcset="">
					<h3>高效环保</h3>
					<hr/>
					<p>60亩/小时作业效率</p>
					<p>全面覆盖</p>
					<p>节水节药</p>
				</li>
				<li>
					<img src="./imgs/v02/2-3.png" alt="" srcset="">
					<h3>安全可靠</h3>
					<hr/>
					<p>身份验证</p>
					<p>实时监测</p>
					<p>电子围栏</p>
				</li>

			</ul>

		</div>

	</div>
	<div class="content-three content">
		<div class="box wj fadeInUp">
			<h1>天麒V02全自主植保无人机</h1>
			<div class="three-b">
				<div class="l">
					<img src="./imgs/v02/3-1.png" alt="" srcset="">
				</div>
				<div class="r">
					<ul>
						<li>
							<div>
								<span></span>
								<p>智能操控</p>
							</div>
							<div>无药无电 自动返航</div>
							<div>支持全程自主飞行控制</div>
						</li>
						<li>
							<div>
								<span></span>
								<p>一控多机</p>
							</div>
							<div>机群仿地飞行 智能避障</div>
							<div>精准喷药 数据实时上传</div>
						</li>
						<li>
							<div>
								<span></span>
								<p>精准喷洒</p>
							</div>
							<div>避障停喷 断点复喷</div>
							<div>无复喷 无漏喷 无错喷</div>
						</li>
						<li>
							<div>
								<span></span>
								<p>智能配件</p>
							</div>
							<div>药箱、电池插拔式装卸</div>
							<div>瞬时完成  实现高效作业</div>
						</li>


					</ul>
				</div>
			</div>
		</div>


	</div>
	<div class="content-four content">
		<div class="box  wj fadeInUp">
			<h1>天麒V02参数详情</h1>
			<div class="box-b">
				<div class="l">
					<div class="t">
						<div class="title">
							<div>
								尺寸示意图
							</div>
							<div></div>
						</div>
						<img src="./imgs/v02/4-1.png" alt="" class="sy">
					</div>
					<div class="b">
						<div class="items-box">
							<div class="title">
								<div>
									基础参数
								</div>
								<div></div>
							</div>
							<div class="items">
								<div class="item">
									<span>整体重量(不含电池)</span>
									<span>13.6kg</span>
								</div>
								<div class="item">
									<span>作业效率</span>
									<span>60亩/小时</span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="r">
					<div class="items-box">
						<div class="title">
							<div>
								动力系统
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>最大起飞重量</span>
								<span>28.7kg</span>
							</div>
							<div class="item">
								<span>作业高度</span>
								<span>离地真高20 m</span>
							</div>
							<div class="item">
								<span>作业速度</span>
								<span>3-7 m/s 可调 </span>
							</div>
						</div>
					</div>
					<div class="items-box">
						<div class="title">
							<div>
								RTK模块
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>信号类型</span>
								<span>GPS + GLONASS + 北斗</span>
							</div>
							<div class="item">
								<span>水平定位精度</span>
								<span>10cm</span>
							</div>
							<div class="item">
								<span>侧向精度</span>
								<span>±0.05 °</span>
							</div>
							<div class="item">
								<span>首次定位时间</span>
								<span>冷启动≤80s  热启动≤20s</span>
							</div>
							<div class="item">
								<span>电台覆盖范围</span>
								<span>3km（开阔可视）</span>
							</div>
						</div>
					</div>
					<div class="items-box">
						<div class="title">
							<div>
								喷洒系统
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>雾滴粒径</span>
								<span>90-210μm</span>
							</div>
							<div class="item">
								<span>着药量</span>
								<span>55-320 粒/ 平方厘米</span>
							</div>
							<div class="item">
								<span>喷洒流量</span>
								<span> 0.8 - 1.6L / 亩可调</span>
							</div>
							<div class="item">
								<span>行间距</span>
								<span>1 - 5 m可调</span>
							</div>
							<div class="item">
								<span>药箱容量</span>
								<span>10L</span>
							</div>
						</div>
					</div>
					<div class="items-box">
						<div class="title">
							<div>
								智能电池
							</div>
							<div></div>
						</div>
						<div class="items">
							<div class="item">
								<span>电量</span>
								<span>12s  16000mAh</span>
							</div>
							<div class="item">
								<span>重量</span>
								<span>5kg</span>
							</div>
							<div class="item">
								<span>型号</span>
								<span>PPUIB100</span>
							</div>
							<div class="item">
								<span>使用寿命</span>
								<span>300次循环</span>
							</div>
							<div class="item">
								<span>续航时间</span>
								<span>13-16min</span>
							</div>
							<div class="item">
								<span>充电时间</span>
								<span>30-40min</span>
							</div>
						</div>
					</div>


				</div>
			</div>

		</div>


	</div>
	<div class="content-five content">
		<div class="box wj fadeInUp">
			<h1>智能配件</h1>
			<ul>
				<li>
					<div>离心喷头 均匀着药</div>
					<div class="img">
						<img src="./imgs/v02/5-1.png" alt="">
					</div>
					
					<p>90-210μm药雾</p>
					<p>农作物均匀着药</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>RTK双天线 高精定位</div>
					<div class="img">
						<img src="./imgs/v02/5-2.png" alt="">
					</div>
					
					<p>高精定位  精准喷洒</p>
					<p>误差小于5cm </p>
					<div class="plan"></div>
				</li>
				<li>
					<div>智能药箱 液位感知</div>
					<div class="img">
						<img src="./imgs/v02/5-3.png" alt="">
					</div>
					<p>竖向插拔式装卸</p>
					<p>瞬时完成  高效作业</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>智能电池 温度感知</div>
					<div class="img">
						<img src="./imgs/v02/5-4.png" alt="">
					</div>
					<p>自动加热</p>
					<p>过充过放保护</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>强劲电池 高适应性</div>
					<div class="img">
						<img src="./imgs/v02/5-5.png" alt="">
					</div>
					<p>耐高低温 </p>
					<p>适应全国各地各季作业</p>
					<div class="plan"></div>
				</li>
				<li>
					<div>自研飞控 自主飞行</div>
					<div class="img">
						<img src="./imgs/v02/5-6.png" alt="">
					</div>
					<p>智能操控</p>
					<p>全自主飞行</p>
					<div class="plan"></div>
				</li>
			</ul>
		</div>
	</div>
</div>

<script>


</script>