<link rel="stylesheet" href="./css/v02s.css">
<script src="./js/vue-carousel-3d.min.js"></script>
<div class="v02s app">
	<div class="content-one">
		<div class="wj bounceInDown">
			<h1>V02S</h1>
			<p>力造全新精准农业</p>
			<p>让植保更简单</p>
		</div>
	</div>
	<div class="content-two">
		<div class="content-two-t">
			<div class="two-t-l" >
				<div>
					<h2>匠心工艺</h2>
					<h2>智慧研造</h2>
					<span>三合一模块化设计</span>
					<span>体态更轻盈 易散热 易持久飞行  </span>
					<span>稳固整机结构 有效防漏水 防堵</span>
				</div>
				
			</div>
			<div class="two-t-r">
				<div class="w-t-r-c">
					<div class="w-t-r-c-title">
						<span>V02S—科技让植保更简单</span>
					</div>
					<ul>
						<li><span></span><span>50-200μm高速离心雾化喷头，让农作物更易吸收</span></li>
						<li><span></span><span>高精定位的RTK双天线，飞行精度达到厘米级，做到均匀喷洒</span></li>
						<li><span></span><span>快取快装的智能插拔式药箱，几秒内即可完成安装，实现高效作业</span></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="content-two-b">
			<ul>
				<li>
					<div><img src="./imgs/v02s/blow.png" alt=""></div>
					<h3>高速离心雾化喷头</h3>
					<p>50-200μm药雾 各农作物尽情吸收</p>
				</li>
				<li>
					<div><img src="./imgs/v02s/control.png" alt=""></div>
					<h3>自研超智能飞控</h3>
					<p>可仿地飞行 空中姿态调整 精准喷药</p>
				</li>
				<li>
					<div><img src="./imgs/v02s/battery.png" alt=""></div>
					<h3>插拔式环保电池</h3>
					<p>快充经久耐用 喷洒效率更高更及时</p>
				</li>
			</ul>

		</div>
	</div>
	<div class="content-three">
		<div class="content-three-box">
			<div class="three-box-t">
				<div class="three-title">
					V02S
				</div>
				<ul>
					<li>
						<div class="img">
							<img src="./imgs/v02s/icon_land.png" alt="">
						</div>
						
						<h3>适应地形</h3>
						<p>耐高低温</p>
						<p>适应各地各季作业</p>
					</li>
					<li>
						<div class="img">
							<img src="./imgs/v02s/icon_efficiency.png" alt="">
						</div>
						
						<h3>效率提升</h3>
						<p>60亩/小时</p>
						<p>比传统无人机提升30%</p>
					</li>
					<li>
						<div class="img">
							<img src="./imgs/v02s/icon_solo.png" alt="">
						</div>
						
						<h3>单人作业</h3>
						<p>方便快捷</p>
						<p>大大降低人力成本</p>
					</li>
					<li>
						<div class="img">
							<img src="./imgs/v02s/icon_safe.png" alt="">
						</div>
						
						<h3>更加安全</h3>
						<p>人因失误较小</p>
						<p>全自动化作业</p>
					</li>
					<li>
						<div class="img">
							<img src="./imgs/v02s/icon_deviation.png" alt="">
						</div>
						
						<h3>误差减少</h3>
						<p>最大5%的精度差</p>
						<p>确保喷洒质量</p>
					</li>
					
				</ul>

			</div>
			<div class="three-box-b">
				<div class="three-title">
					传统无人机
				</div>
				<ul>
					<li>受制于地形环境</li>
					<li>30-40亩/小时</li>
					<li>2-3人作业</li>
					<li>人因失误多</li>
					<li>35%-40%误差</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="content-four">
		<h1>作业端APP</h1>
		<p class="info">一控多机，任务一键执行，优化航线算法，操作得心应手</p>
		<div class="swiper">
			<carousel-3d :perspective="0" :display="5" :width="365" :height="650" :space="280" :inverse-scaling="0">
				<slide :index="index" class="slide" v-for='(n,index) in 5' :style='{background:"url(./imgs/v02s/phone_img"+(index+1)+".png)"}'></slide>
			</carousel-3d>
		</div>

	</div>
	<div class="content-five">
		<div class="five-box">
			<carousel-3d :perspective="0" :display="3" :width="400" :height="250" :space="500" :inverse-scaling="100"  @after-slide-change="onAfterSlideChange" @before-slide-change="onBeforeSlideChange" >
				<slide :index="index" ref='fly' class="fly" v-for='(n,index) in 5' :style='{background:"url(./imgs/v02s/1.4"+(index+4)+".png)"}'></slide>
			</carousel-3d>
			<ul class="crea">
				<li v-for='n in 5' :class='{"active":(n==pIndex)}'></li>
			</ul>
		</div>
		
	</div>
</div>
<script>

	new Vue({
  		el:'.v02s',
		  components:{
			  "carousel-3d":Carousel3d.Carousel3d,
			  "slide":Carousel3d.Slide
		  },
		  data:{
			  pIndex:1
		  },
  		mounted:function(){
			var _this = this
			 setTimeout(function(){
				  _this.addOpacity(0)
			 },100)
			  
  		},
		methods: {
			addOpacity:function(index){
				this.pIndex=index+1
				var flys= $('.fly')
				flys.each(function(item,i){					
					if(index==item){
						$(this).css({'opacity':' 1'})
					}else{
						$(this).css({'opacity':' 0.3'})
					}
				})
			},
			onAfterSlideChange:function(index) {
				this.addOpacity(index)
			},
			onBeforeSlideChange:function(index){
				this.addOpacity(index)
			}
 		 },	
  	})

</script>