.content-one {
  height: 603px;
  background: url(../imgs/about/banner-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(67, 67, 67, 0); }

.content-one .box {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.content-one .box img:nth-child(2) {
  margin-top: 60px; }

.content-two {
  height: 1120px; }

.content-two .title {
  font-size: 30px;
  letter-spacing: 4px; }

.content-two .box {
  display: flex;
  padding: 0 20px;
  padding-top: 135px; }

.content-two .box .l {
  display: flex;
  flex: 1;
  flex-direction: column; }

.content-two .box .l img {
  width: 207px;
  height: 58px; }

.content-two .box .l .title {
  margin-top: 35px; }

.content-two .box .l span:nth-child(3) {
  font-size: 24px;
  letter-spacing: 3px;
  color: #646464;
  margin-top: 12px; }

.content-two .box .r {
  display: flex;
  flex-direction: column;
  width: 672px; }

.content-two .box .r .info {
  margin-top: 35px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #646464; }

.content-two .box .r img:nth-child(3) {
  margin: 43px 0;
  width: 600px; }

.content-two .box .r .swiper {
  margin-top: 35px;
  width: 100%;
  height: 417px;
  border: 1px solid #e5e5e5e5; }

.slide,
.agile,
.agile__list {
  width: 100%;
  height: 417px;
  background: red;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative; }

.slide1 {
  background-image: url(../imgs/about/picture1.png); }

.slide2 {
  background-image: url(../imgs/about/picture2.png); }

.slide3 {
  background-image: url(../imgs/about/picture3.png); }

.slide4 {
  background-image: url(../imgs/about/picture4.png); }

.slide5 {
  background-image: url(../imgs/about/picture5.png); }

.slide6 {
  background-image: url(../imgs/about/picture6.png); }

.slide7 {
  background-image: url(../imgs/about/picture7.png); }

ul.agile__dots {
  position: absolute;
  bottom: 17px;
  width: 100%;
  display: flex;
  justify-content: center; }

.agile__dot {
  width: 17px;
  height: 5px;
  margin: 0 2px; }

.agile__dot button {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.6); }

.agile__dot.agile__dot--current button {
  background: white; }
