.content-one {
  height: 603px;
  background: url(../imgs/about/banner-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(67, 67, 67, 0); }

.content-one .box {
  width: 1200px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center; }

.content-one .box img {
  width: 1100px; }

.content-one .box img:nth-child(2) {
  margin-top: 60px; }

.content-two {
  height: 1020px; }

.content-two .title {
  font-size: 22px;
  letter-spacing: 4px; }

.content-two .box {
  display: flex;
  padding: 0 20px;
  padding-top: 100px; }

.content-two .box .l {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column; }

.content-two .box .l img {
  width: 207px;
  height: 58px; }

.content-two .box .l .title {
  margin-top: 35px; }

.content-two .box .l span:nth-child(3) {
  font-size: 14px;
  letter-spacing: 3px;
  color: #646464;
  margin-top: 12px; }

.content-two .box .r {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 672px; }

.content-two .box .r .info {
  margin-top: 35px;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 33px;
  color: #646464; }

.content-two .box .r img:nth-child(3) {
  margin: 43px 0;
  width: 600px; }

.content-two .box .r .swiper {
  margin-top: 35px;
  width: 100%;
  height: 417px;
  border: 1px solid #e5e5e5e5; }

.swiper-container,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 417px;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  position: relative; }

.slide1 {
  background-image: url(../imgs/about/picture1.png); }

.slide2 {
  background-image: url(../imgs/about/picture2.png); }

.slide3 {
  background-image: url(../imgs/about/picture3.png); }

.slide4 {
  background-image: url(../imgs/about/picture4.png); }

.slide5 {
  background-image: url(../imgs/about/picture5.png); }

.slide6 {
  background-image: url(../imgs/about/picture6.png); }

.slide7 {
  background-image: url(../imgs/about/picture7.png); }

.swiper-pagination-bullet {
  width: 17px;
  height: 5px;
  margin: 0 2px;
  background: rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
