body,
html {
    min-width: 1300px;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    *{
        color: #000;
    }
}
header {
    width: 100%;
    height: 79px;
    
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 4;
    font-size:18px ;
    min-width: 1200px;
     a{ 
            text-decoration:none;
            transition: all 0.1s;
            color: #000000;
            height: 100%;
            display: block;
            &:hover{
              color: #999999;     
            }
        } 
    .header{
        border-bottom:1px solid #E5E5E5 ;
        position: relative;
        padding: 0 40px !important;
        height: 100%;
        line-height: 79px;
        margin: 0 auto;
        min-width: 1200px;
        z-index: 4;
       
        .l{
            height: 100%;
            float: left;
            a{
                height: 100%;
                line-height: 79px;
            }
            img{
                height: 40px;
                display: inline-block; 
                vertical-align: middle;
            }
        }
        .r{
            float: right;
            ul{
                float: left;
                li{
                    float: left;
                    margin-left:60px ;
                   
                }
       
            }
            .lang{
                float: left;
                margin-left: 30px;
                a{
                    margin-left: 30px;
                    float: left;
                }
            }
        }
        
    }
    .hide-header{
        overflow: hidden;
        position: absolute;
        top: 79px;
        height: 0;
        width: 100%;
        background: #fff;
        transition: all 0.8s;
        opacity: 0.5;
        &.active{
             opacity: 1;
             height: 160px;
        }
        ul{
            padding: 30px 40px;
            float: right;
            height: 160px;
            margin-right: 95px;
            li{
                float: left;
                margin-left: 60px;
                line-height: 50px;
            }
        }
    }
    
}

footer {
    width: 100%;
    background-color: #000000;
    height: 80px;
    line-height: 80px;
}

footer>div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

footer>div>span {
    margin: 0 auto;
    float: left;
    color: #999;
    /*text-indent:0.5em;//设置首行缩进*/
    letter-spacing: 1px;
    font-size: 15px;
}

footer>div>span:nth-child(2) {
    margin-left: 170px;
}

.box {
    height: 100%;
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.content-one {
    margin-top: 79px;
}
.footer{
    height: 680px;
    background: url(../imgs/footer/footer-bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(67, 67, 67, 0);
    color: #fff;
    // letter-spacing:3px;
    ul{
        width: 1200px;
        margin: 0 auto;
        height: 570px;
        padding-top: 150px;
        font-size:14px; 
        
        li{
            float: left;
            height: 427px;
            border-right:1px solid rgb(183,181,181) ;
            &:last-child{
                border: none;
            }
        }
        li:nth-child(1){
            padding-right:90px; 
            line-height: 33px;
            .footer-logo{
                width: 204px;
                height: 59px;
            }
            .t{
                margin-top: 52px;
                span{
                    display: block;
                }
            }
            .b{
                margin-top: 52px;
                >div{
                    position: relative;
                    width: 340px;
                    display: flex;
                }
                div.img{
                    width: 25px;
                    height: 33px;
                    text-align: center; 
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    div{
                        height: 20px;
                        margin-left: 5px;
                        background: #fff;
                        width: 1px;
                    }
                }
                span{
                    display: block;
                    margin-left:5px; 
                    width: 310px;
                }
            }

        }
        li:nth-child(2){
            padding:0 90px; 
            a{
                text-decoration:none;
                color: rgb(183,181,181);
            }
            .title {
                div:nth-child(1) {
                    font-size: 24px;
                }
                div:nth-child(2) {
                    margin-top: 12px;
                    background: rgb(251, 208, 5);
                    width: 50px;
                    height: 3px;
                }
            }
            .items{
                width: 300px;
                display: flex;
                align-items: flex-end;
                height: 75px;
                .level{
                    color: #fff;
                    list-style: none;
                    display: block;
                    width: 110px;
                    
                }
                span{
                    a{
                        margin-right: 18px;
                    }
                }
                
            }

        }
        li:nth-child(3){
            padding-left: 90px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            div{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                img{
                    width:138px ;
                    height: 138px;
                }
                span{
                    width: 140px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #fff;
                    border-radius:15px; 
                    margin-top:13px; 
                    text-align: center;
                }
            }
        }
        
    }
}
.content{
    overflow: hidden;
    position: relative;
}

.agile {
    position: relative;

    &, * {
        &:focus,
        &:active {
            outline: none;
        }
    }

    &__list {
        display: block;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    &__track {
        align-items: center;
        display: flex;
        justify-content: flex-start;

        .agile--disabled & {
            display: block;
        }
    }

    &__slide {
        display: block;

        .agile--fade & {
            opacity: 0;
            position: relative;
            z-index: 0;

            &--active {
                opacity: 1;
                z-index: 2;
            }

            &--expiring {
                opacity: 1;
                transition-duration: 0s;
                z-index: 1;
            }
        }
    }

    &__arrow {
        &[disabled] {
            cursor: default;
        }
    }

    &__dots {
        align-items: center;
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    &__dot {
        button {
            cursor: pointer;
            display: block;
            font-size: 0;
            line-height: 0;
        }
    }
}
.page{
    opacity: 0;
    transition: all 0.2s;
    &.show{
        opacity: 1;
    }
}