body,html {
	min-width: 1300px;
	overflow-x: hidden;
}
header {
    width: 100%;
    height: 80px;
    background: #000;
    position: fixed;
    top: 0;
    z-index: 2;
}

footer {
    width: 100%;
    background-color: #000000;
    height: 80px;
    line-height: 80px;
}

footer>div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

footer>div>span {
    margin: 0 auto;
    float: left;
    color: #999;
    /*text-indent:0.5em;//设置首行缩进*/
    letter-spacing: 1px;
    font-size: 15px;
}

footer>div>span:nth-child(2) {
    margin-left: 170px;
}