@charset "UTF-8";
body,
html {
  min-width: 1300px;
  overflow-x: hidden; }

a {
  text-decoration: none; }

a * {
  color: #333; }

header {
  width: 100%;
  height: 79px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 4;
  font-size: 16px;
  min-width: 1200px; }

header a {
  text-decoration: none;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  color: #000000;
  height: 100%;
  display: block; }

header a:hover {
  color: #999999; }

header .header {
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  padding: 0 40px !important;
  height: 100%;
  line-height: 79px;
  margin: 0 auto;
  min-width: 1200px;
  z-index: 4; }

header .header .l {
  height: 100%;
  float: left; }

header .header .l a {
  height: 100%;
  line-height: 79px; }

header .header .l img {
  height: 40px;
  display: inline-block;
  vertical-align: middle; }

header .header .r {
  float: right; }

header .header .r ul {
  float: left; }

header .header .r ul li {
  float: left;
  margin-left: 60px; }

header .header .r .lang {
  float: left;
  margin-left: 30px; }

header .header .r .lang a {
  margin-left: 30px;
  float: left; }

header .hide-header {
  overflow: hidden;
  position: absolute;
  top: 79px;
  height: 0;
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

header .hide-header.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  height: 160px; }

header .hide-header ul {
  padding: 30px 40px;
  float: right;
  height: 160px;
  margin-right: 95px; }

header .hide-header ul li {
  float: left;
  margin-left: 60px;
  line-height: 50px; }

footer {
  width: 100%;
  background-color: #000000;
  height: 80px;
  line-height: 80px; }

footer > div {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center; }

footer > div > span {
  margin: 0 auto;
  float: left;
  color: #999;
  /*text-indent:0.5em;//设置首行缩进*/
  letter-spacing: 1px;
  font-size: 15px; }

footer > div > span:nth-child(2) {
  margin-left: 170px; }

.box {
  height: 100%;
  width: 1300px;
  margin: 0 auto;
  position: relative; }

.content-one {
  margin-top: 79px; }

.footer {
  height: 430px;
  background: url(../imgs/footer/footer-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgba(67, 67, 67, 0);
  color: #fff; }

.footer ul {
  width: 1200px;
  margin: 0 auto;
  height: 570px;
  padding-top: 50px;
  font-size: 14px; }

.footer ul li {
  float: left;
  height: 327px;
  border-right: 1px solid #b7b5b5; }

.footer ul li:last-child {
  border: none; }

.footer ul li:nth-child(1) {
  padding-right: 90px;
  line-height: 21px;
  letter-spacing: 1px; }

.footer ul li:nth-child(1) .footer-logo {
  height: 45px; }

.footer ul li:nth-child(1) .t {
  margin-top: 40px; }

.footer ul li:nth-child(1) .t span {
  display: block; }

.footer ul li:nth-child(1) .b {
  margin-top: 40px; }

.footer ul li:nth-child(1) .b > div {
  position: relative;
  width: 340px;
  display: flex;
  padding: 5px 0; }

.footer ul li:nth-child(1) .b div.img {
  height: 21px;
  text-align: center;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center; }

.footer ul li:nth-child(1) .b div.img div {
  height: 20px;
  margin-left: 5px;
  background: #fff;
  width: 1px; }

.footer ul li:nth-child(1) .b span {
  display: block;
  margin-left: 5px;
  width: 310px; }

.footer ul li:nth-child(2) {
  padding: 0 90px; }

.footer ul li:nth-child(2) a {
  text-decoration: none; }

.footer ul li:nth-child(2) a p {
  color: #b7b5b5; }

.footer ul li:nth-child(2) a div {
  margin-top: 10px;
  background: #fbd005;
  height: 1px;
  width: 0px;
  transition: all 0.2s ease; }

.footer ul li:nth-child(2) a:hover div {
  width: 20px; }

.footer ul li:nth-child(2) .title div:nth-child(1) {
  font-size: 20px; }

.footer ul li:nth-child(2) .title div:nth-child(2) {
  margin-top: 12px;
  background: #fbd005;
  width: 50px;
  height: 3px; }

.footer ul li:nth-child(2) .items:nth-child(2) {
  height: 75px; }

.footer ul li:nth-child(2) .items {
  width: 300px;
  display: flex;
  align-items: flex-end;
  height: 54px; }

.footer ul li:nth-child(2) .items .level {
  color: #fff;
  list-style: none;
  display: block;
  width: 110px; }

.footer ul li:nth-child(2) .items span {
  display: flex; }

.footer ul li:nth-child(2) .items span a {
  margin-right: 18px; }

.footer ul li:nth-child(3) {
  padding-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.footer ul li:nth-child(3) div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

.footer ul li:nth-child(3) div img {
  width: 138px;
  height: 138px; }

.footer ul li:nth-child(3) div div {
  width: 140px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  border-radius: 15px;
  margin-top: 13px;
  text-align: center; }

.content {
  overflow: hidden;
  position: relative; }

.page {
  opacity: 0;
  transition: all 0.2s; }

.page.show {
  opacity: 1; }

.swiper-button-next {
  background-image: url(../imgs/icon/right.png) !important;
  height: 44px !important;
  width: 26px !important;
  background-size: 13px 22px !important; }

.swiper-button-prev {
  background-image: url(../imgs/icon/left.png) !important;
  height: 44px !important;
  width: 26px !important;
  background-size: 13px 22px !important; }
