@import '../scsslibs/index.scss';
    .content-one {
        height: 350px;
        background-image: url('../imgs/contact/banner.jpg');
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-color: rgba(67, 67, 67, 0);
    }

    .content-two {
        height: 1374px;
        .box {
            width: 1210px;
            height: 100%;
            padding: 0 5px;
            .title {
                margin-top: 120px;
                p:nth-child(1) {
                    font-size: 22px;
                }
                p:nth-child(2) {
                    font-size: 10px;
                    margin-top: 4px;
                    color: rgb(133, 133, 133);
                }
            }
            .c-form {
                margin-top: 65px;
                min-height: 200px;
                @include display-flex(flex);
                @include align-items(center);
                @include justify-content(center);
                h4 {
                    color: red;
                }
                .c-input {
                    width: 384px;
                    height: 52px;
                    background: rgb(235, 235, 235);
                    border: none;
                    padding-left: 12px;
                    font-size: 16px;
                }
                .c-input:nth-child(2) {
                    margin: 0 18px;
                }
                .c-textarea {
                    width: 1200px;
                    height: 258px;
                    margin-top: 18px;
                    padding-top: 12px;
                }
                button {
                    width: 30%;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    background-color: transparent;
                    font-size: 16px;
                    cursor: pointer;
                    margin-top: 18px;
                    border-width: 1px;
                    @include border-radius(0px);
                    border-color: rgba(204, 204, 204, 0.4);
                    border-style: solid;
                    @include transform(rotate(0deg) scale(1) translate(0%, 0%));
                    @include transition( all 0.5s ease);
                    color: rgb(153, 153, 153);
                    &:hover {
                        background: #ebebeb;
                        color: #fff;
                    }
                }
                h3 {
                    text-align: center;
                    display: none;
                }
                h4 {
                    text-align: center;
                    display: none;
                }
            }
            .list {
                margin-top: 40px;
                height: auto;
                ul {
                    height: auto;
                    height: 170px;
                    li {
                        width: 160px;
                        margin-right: 30px;
                        float: left;
                        img {
                            height: 60px;
                        }
                        p {
                            margin-left: 8px;
                        }
                        p:nth-child(2) {
                            margin-top: 10px;
                            font-size: 22px;
                        }
                        p:nth-child(3) {
                            margin-top: 15px;
                            font-size: 10px;
                            color: rgb(133, 133, 133);
                            line-height: 15px;
                        }
                    }
                }
            }
            #map {
                margin-top: 100px;
                height: 308px;
            }
        }
    }