@charset "UTF-8";
.content-one {
  background: #EBEBEB;
  height: 700px;
  overflow: hidden; }

.content-one .box {
  width: 1200px;
  position: relative; }

.content-one .box .l {
  float: left;
  margin-top: 244px; }

.content-one .box .l p:nth-child(1) {
  font-size: 50px;
  color: #333333;
  font-family: "微软雅黑"; }

.content-one .box .l p:nth-child(2) {
  font-size: 28px;
  color: #666;
  margin-top: 37px; }

.content-one .box .l p:nth-child(3) {
  font-size: 18px;
  color: #999;
  margin-top: 37px; }

.content-one .box .r {
  float: left;
  margin-left: 155px;
  position: relative;
  height: 100%;
  width: auto; }

.content-one .box .r img {
  position: relative;
  top: 83px; }

.content-two {
  height: 505px; }

.content-two .box {
  text-align: center; }

.content-two .box .title {
  color: #4D4D4D; }

.content-two .box ul {
  margin-top: 51px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.content-two .box ul li .img {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 182px;
  height: 182px; }

.content-two .box ul li p {
  margin-top: 28px;
  font-size: 24px;
  color: #666; }

.content-three {
  height: 825px;
  background-image: url("../imgs/monitor/bj1.png");
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-color: rgba(67, 67, 67, 0);
  overflow: hidden; }

.content-three .box .title {
  color: #fff; }

.content-three .box ul {
  margin-top: 48px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 20px; }

.content-three .box ul p {
  margin-top: 20px;
  color: #fff; }

.content-three .box .bimg {
  position: relative;
  bottom: 0;
  top: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 726px;
  height: 353px;
  margin: 0 auto; }

.content-three .box .bimg img {
  position: absolute;
  width: 726px;
  height: 353px; }

.content-four {
  height: 850px;
  background-image: url("../imgs/monitor/bj2.png");
  background-size: cover !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  background-color: rgba(67, 67, 67, 0); }

.content-four .box .title {
  color: #fff; }

.content-four .box .b {
  margin-top: 42px; }

.content-four .box .l {
  float: left;
  width: 320px;
  height: 400px;
  padding: 0 8px;
  padding-top: 15px; }

.content-four .box .l ul {
  width: 100%;
  height: 100%; }

.content-four .box .l ul li {
  float: left;
  margin-top: 48px;
  color: #fff;
  width: 90px; }

.content-four .box .l ul li .img {
  width: 90px;
  height: 90px; }

.content-four .box .l ul li:nth-of-type(even) {
  margin-left: 123px; }

.content-four .box .l ul li p {
  margin-top: 20px;
  text-align: center; }

.content-four .box .r {
  float: left;
  margin-left: 247px;
  position: relative; }

.content-four .box .r img {
  position: absolute; }

.content-five {
  height: 850px;
  overflow: hidden; }

.content-five .box .b {
  margin-top: 92px;
  display: -webkit-flex;
  display: flex; }

.content-five .box .b .r {
  float: left;
  margin-left: 210px;
  margin-top: 75px; }

.content-five .box .b .r ul li {
  float: left;
  margin-right: 117px; }

.content-five .box .b .r ul li:last-child {
  margin: 0; }

.content-five .box .b .r ul li p:nth-child(2) {
  color: #333;
  font-size: 24px;
  margin-top: 15px; }

.content-five .box .b .r ul li p:nth-child(3) {
  margin-top: 18px; }

.content-five .box .b .r ul li p {
  font-size: 18px;
  color: #808080;
  line-height: 28px;
  text-align: center; }

.content-five .box .b .l {
  float: left;
  width: 650px;
  height: auto;
  position: relative; }

.content-five .box .b .l img {
  position: absolute;
  height: 450px; }

.monitor .box {
  width: 1200px; }

.monitor .title {
  padding-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 34px; }

.monitor .info {
  color: #b3b3b3;
  font-size: 18px;
  width: 930px;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0px;
  line-height: 28px; }
