
.newDetails{
    margin-top: 90px;
    .box{
        width: 1200px;
         margin: 0 auto;
    }
    .title{
        padding-top: 40px;
        text-align: center;
        h2{
            margin-bottom: 10px;
            font-size: 18px;
        }
        p{
            font-size: 13px;
            color: rgb(153, 153, 153);
            font-family: 'SimSun';
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    .content{
        min-height: 500px;
    margin-top: 30px;
    text-align: left;
    margin-bottom: 30px;
    }

}