@import '../scsslibs/index.scss';
.content-one {
    height: 350px;
    background-image: url(../imgs/news/banner.jpg);
    @include fullbg;
}

.content-two {
    height: auto;
    padding: 90px 0;
    background: #fff;
    .box {
        width: 1200px;
        margin: 0 auto; // min-height: 600px;
        // border: 1px solid #000;
        ul {
            list-style-type: none;
            padding-left: 0px;
            display: inline-block;
            text-align: left;
            width: 100%;
            color: rgb(67, 67, 67);
            margin-left: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            li {
                position: relative;
                min-height: 20px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0px;
                border-type: border-bottom;
                float: none;
                display: inline-block;
                vertical-align: top;
                _zoom: 1;
                list-style-type: none;
                padding-left: 0px;
                display: inline-block;
                text-align: left;
                width: 100%;
                color: rgb(67, 67, 67);
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 0px;
                .news-list {
                    -webkit-box-flex: 1;
                    -ms-flex: 1 1 0%;
                    flex: 1 1 0%;
                    min-height: 220px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    position: relative;
                    .l {
                        width: 150px;
                        border-right: 1px solid rgba(204, 204, 204, 0.4);
                        padding-top: 22px;
                        position: relative;
                        .rborder {
                            position: absolute;
                            width: 150px;
                            top: 0px;
                            border-right: 1px solid rgb(96, 154, 177);
                            min-height: 0px;
                            height: 0px;
                            -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%);
                            -ms-transform: rotate(0deg) scale(1) translate(0%, 0%);
                            transform: rotate(0deg) scale(1) translate(0%, 0%);
                            transition: all 0.5s ease;
                            margin-top: 20px;
                        }
                        .l-time {
                            overflow: hidden;
                            width: 100%;
                            min-height: 60px;
                            p {
                                margin-bottom: 0px;
                                font-size: 32px;
                                width: 500px;
                                position: relative; // left: -90px;
                                color: rgb(153, 153, 153);
                                line-height: 1em;
                                transition: all 0.5s ease;
                                font-family: 'SourceHanSansCN-Light';
                            }
                        }
                        img {
                            width: 20px;
                        }
                    }
                    .r {
                        -webkit-box-flex: 1;
                        -ms-flex: 1 1 0%;
                        flex: 1 1 0%;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        height: 220px;
                        width: 440px;
                        padding-left: 0;
                        transition: all 0.5s ease;
                        .r-l {
                            padding-top: 15px;
                            padding-left: 30px;
                            padding-right: 20px;
                            -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%);
                            -ms-transform: rotate(0deg) scale(1) translate(0%, 0%);
                            transform: rotate(0deg) scale(1) translate(0%, 0%);
                            -webkit-box-flex: 1;
                            -ms-flex: 1 1 0%;
                            flex: 1 1 0%;
                            p:nth-child(1) {
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                overflow: hidden;
                                margin-bottom: 20px;
                                font-size: 15px;
                                -webkit-line-clamp: 1;
                                line-height: 2em;
                            }
                            p:nth-child(2) {
                                font-size: 12px;
                                color: rgb(153, 153, 153);
                                line-height: 2em;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;
                                overflow: hidden;
                            }
                        }
                        .r-r {
                            flex: 1; // width: 440px;
                            padding: 15px 15px 30px 50px;
                            -webkit-transform: rotate(0deg) scale(1) translate(0%, 0%);
                            -ms-transform: rotate(0deg) scale(1) translate(0%, 0%);
                            transform: rotate(0deg) scale(1) translate(0%, 0%);
                            padding-bottom: 40px;
                            transition: all 0.5s ease;
                            div {
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                .imgs {
                                    transition: all 0.5s ease;
                                    @include fullbg;
                                    background: url(../imgs/news/banner.jpg);
                                }
                            }
                        }
                    }
                }
                a:hover {
                    .l {
                        .l-time {
                            p {
                                color: #000;
                            }
                        }
                        .rborder{
                             height: 90px;
                         }
                    }
                    .r {
                        padding-left: 10px;
                    }
                    .imgs {
                        transform: rotate(0deg) scale(1.02) translate(10px, 0);
                    }
                    .r-r {
                        transform: rotate(10deg) scale(1.9) translate(0%, 0%);
                        padding-right: 0 !important;
                    }
                    
                }
            }
        }
    }
    .paging{
        display: flex !important;
        justify-content: flex-start !important;
        height: 40px !important;
        margin-top: 70px;
        display: flex !important;
        // width: 200px !important;
        li{
            margin: 0;
            padding: 0 !important;
            width: 40px !important;
            list-style: none;
            line-height: 40px;
            a{
                color: rgb(164, 164, 164);
            }
            &.active{
                a{
                    color: #333;
                }
            }
            &:hover{
                a{
                    color: #333;
                }
            }
        }
    }
 
}