.solution {
    background: #f6f6f6;
    .border {
        color: #fff;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        span:nth-child(1) {
            font-size: 24px;
        }
        span:nth-child(2) {
            margin-top: 10px;
            width: 30px;
            height: 3px;
            background: rgb(182, 63, 63);
            display: block;
        }
    }
    .title {
        margin-top: 115px;
        font-size: 40px;
        text-align: center;
    }
}

.content-one {
    height: 605px;
    background: #f6f6f6;
    .box {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        .l {
            display: flex;
            flex-direction: column;
            span {
                font-size: 28px;
                margin-top: 30px;
            }
            span:nth-child(1) {
                font-size: 60px;
                font-family: 'SourceHanSerifCN-Heavy';
                font-weight: bold;
                margin: 0;
            }
        }
        .r {
            width: 650px;
            height: 522px;
            img {
                width: 100%;
            }
        }
    }
}

.content-two {
    height: 254px;
    background-image: url('../imgs/solution/1/bg1.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(67, 67, 67, 0);
    .box {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

.content-three {
    height: 780px;
    .box {
        width: 1300px;
        margin: 0 auto;
    }
}

.content-four {
    height: 625px;
    background: rgb(44, 40, 37);
    .box {
        display: flex;
        justify-content: center;
        width: 1200px;
        margin: 0 auto;
        video {
            height: 100%;
        }
        img{

            width: 100%;
        }
        .play{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -20px;
            margin-top: -20px;
            cursor: pointer;
        }
    }
}
.videos{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index:999;
    .videos{
        width: 100%;
       
    }

}
.content-five {
    height: 609px;
    margin: 0;
    .box {
        width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .r {
            width: 523px;
            height: 463px;
        }
        .l {
            span:nth-child(2) {
                font-size: 44px;
                margin-top: 52px;
            }
        }
    }
}

.content-six {
    height: 676px;
    background-image: url('../imgs/solution/1/bg2.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(67, 67, 67, 0);
    color: #fff;
    .box {
        width: 1300px;
        margin: 0 auto;
        .bottom {
            display: flex; //          justify-content: space-between;
            align-items: center;
            margin-top: 60px;
            .l {
                ul {
                    width: 635px;
                    li {
                        
                        float: left;
                        width: 287px;
                        height: 126px;
                        border: 1px solid #fff;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        line-height: 40px;
                        font-size: 24px;
                        margin: 15px 0;
                        &:nth-of-type(even) {
                            margin-left: 40px;
                        }
                        div {
                            margin-left: 15px;
                            
                        }
                        img{
                            margin-left:20px;
                            height: 48px;
                        }
                    }
                }
            }
            .r {
                width: 461px;
                height: 254px;
                margin-left: 120px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.content-seven {
    height: 996px;
    .box {
        width: 1300px;
        margin: 0 auto;
       overflow: inherit;
        ul {
            height: 650px;
            position: relative;
            display: flex;
            justify-content: space-between;
            margin-top: 93px;
            li {
                position: relative;
                top: 40px;
                width: 399px;
                height: 609px;
                background: #fff;
                transition: all 0.2s;
                div:nth-child(1) {
                    overflow: hidden;
                    width: 100%;
                    height: 355px;
                    img {
                        width: 100%;
                        transition: all 0.4s;
                    }
                }
                div:nth-child(2) {
                    margin: 0 36px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    height: 100px;
                    border-bottom: 1px solid #999;
                    span {
                        font-size: 24px;
                        font-family: "SourceHanSerifCN-Bold";
                    }
                }
                div:nth-child(3) {
                    margin: 0 36px;
                    margin-top: 20px;
                    font-size: 18px;
                    color: rgb(135, 135, 135);
                    display: flex;
                    flex-direction: column;
                    line-height: 30px;
                }
                div:nth-child(4) {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: rgb(249, 199, 10);
                    height: 6px;
                    width: 0;
                    transition: all 0.2s;
                }
            }
            li:hover {
                top: 0;
                box-shadow: 12px 5px 38px rgba(0,0,0,0.32);
                div:nth-child(4) {
                    width: 100%;
                }
                div:nth-child(1){
                    img{
                        transform: scale(1.05)
                    }
                }
            }
        }
    }
}