.v02 {
  background: #f6f6f6;
}

.content-one {
  height: 600px;
  border-bottom: 1px solid #000000;
}

.content-one .box {
  width: 1300px;
  display: flex;
  align-items: center;
}

.content-one .box .l,
.content-one .box .r {
  float: left;
}

.content-one .box .r {
  margin-left: 130px;
}

.content-one .box .l h1 {
  font-size: 60px;
  font-family: "SourceHanSerifCN-Heavy";
}

.content-one .box .l p {
  font-size: 28px;
}

.content-one .box img {
  height: 314px;
  width: 805px;
}

.content-two {
  height: 435px;
  border-bottom: 1px solid #000000;
  background-image: url(../imgs/v02/2-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

.content-two .box {
  width: 1200px;
}

.content-two .box ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-two .box ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.content-three {
  height: 996px;
  border-bottom: 1px solid #000000;
}

.content-three .box {
  width: 1300px;
  text-align: center;
}

.content-three .box h1 {
  margin-top: 110px;
}

.content-three .box .three-b {
  width: 100%;
  height: 600px;
}

.content-three .box .three-b .l,
.content-three .box .three-b .r {
  float: left;
  margin-top: 280px;
}

.content-three .box .three-b .l {
  width: 720px;
}

.content-three .box .three-b .l img {
  width: 100%;
}

.content-three .box .three-b .r ul {
  width: 560px;
}

.content-three .box .three-b .r ul li {
  width: 251px;
  height: 152px;
  float: left;
  border: 1px solid #b7b5b5;
  margin-top: 25px;
  margin-left: 25px;
  text-align: left;
  padding: 30px;
}

.content-three .box .three-b .r ul li div:nth-child(1) {
  line-height: 28px;
  height: 30px;
  font-size: 22px;
}

.content-three .box .three-b .r ul li div:nth-child(1) span,
.content-three .box .three-b .r ul li div:nth-child(1) p {
  margin: 0;
  float: left;
  margin-left: 6px;
}

.content-three .box .three-b .r ul li div:nth-child(1) span {
  display: block;
  width: 8px;
  height: 8px;
  background: #fbd005;
  margin-top: 10px;
}

.content-three .box .three-b .r ul li div:nth-child(2) {
  color: #616161;
  font-size: 16px;
}

.content-three .box .three-b .r ul li div:nth-child(3) {
  color: #616161;
  font-size: 16px;
}

.content-four {
  height: 1284px;
  border-bottom: 1px solid #000000;
  background-image: url(../imgs/v02/4-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.content-four .box {
  color: #fff;
  padding-top: 100px;
}

.content-four .box h1 {
  margin: 0;
  text-align: center;
  font-size: 40px;
}

.content-four .box .title div:nth-child(1) {
  font-size: 24px;
}

.content-four .box .title div:nth-child(2) {
  margin-top: 12px;
  background: #fbd005;
  width: 50px;
  height: 3px;
}

.content-four .box .items {
  position: relative;
}

.content-four .box .item {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
}

.content-four .box .item span {
  display: block;
  float: left;
}

.content-four .box .item span:nth-child(1) {
  width: 200px;
}

.content-four .box .item:nth-child(1) {
  margin-top: 12px;
}

.content-four .box .box-b {
  margin-top: 105px;
}

.content-four .box .box-b .l {
  float: left;
}

.content-four .box .box-b .l .t {
  margin-bottom: 70px;
}

.content-four .box .box-b .l .t img {
  width: 503px;
  height: 716px;
}

.content-four .box .box-b .l .b {
  margin-top: 60px;
}

.content-four .box .box-b .r {
  float: left;
  margin-left: 200px;
}

.content-four .box .box-b .r .items-box {
  margin-top: 60px;
}

.content-four .box .box-b .r .items-box:first-child {
  margin-top: 0;
}

.content-five {
  height: 1220px;
  border-bottom: 1px solid #000000;
  text-align: center;
  padding-top: 100px;
}

.content-five .box {
  width: 1250px;
}

.content-five .box h1 {
  font-size: 40px;
}

.content-five .box ul {
  margin-top: 80px;
}

.content-five .box ul li {
  margin: 0 19px;
  margin-bottom: 55px;
  float: left;
  background: #fff;
  width: 378px;
  height: 398px;
  position: relative;
  color: #616161;
}

.content-five .box ul li div:nth-child(1) {
  width: 236px;
  height: 36px;
  border: 1px solid #b7b5b5;
  border-radius: 3px;
  color: #000000;
  line-height: 36px;
  margin: 0 auto;
  margin-top: 36px;
  font-size: 24px;
}

.content-five .box ul li img {
  margin-top: 40px;
}

.content-five .box ul li p {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
}

.content-five .box ul li p:nth-child(3) {
  margin-top: 26px;
}

.content-five .box ul li .plan {
  height: 10px;
  background: #fbd005;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  transition: all 0.3s;
}

.content-five .box ul li:hover .plan {
  width: 100%;
}
