.content-one {
    width: 100%;
    height: 800px;
    background-image: url(../imgs/v02s/head_img.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: rgba(67, 67, 67, 0);
    color: #fff;
}

.content-one>div {
    margin: 0 auto;
    width: 1200px;
    padding-top: 250px;
}

.content-one>div>p {
    margin: 0;
    font-size: 36px;
    margin-top: 16px;
}

.content-one>div>p:nth-child(2) {
    margin: 0;
}

.content-one>div>h1 {
    font-size: 80px;
    margin-bottom: 40px;
}

.content-two {
    height: 1149px;
    width: 1300px;
    margin: 0 auto;
}

.content-two>.content-two-t {
    position: relative;
    height: 590px;
    //  overflow: hidden;
}

.content-two>.content-two-t>.two-t-l {
    width: 596px;
    height: 382px;
    background-image: url(../imgs/v02s/bg_little.png);
    background-size: cover;
    position: absolute;
    top: 153px;
    left: 0;
    /* background-position: 50% 50%; */
    background-repeat: no-repeat;
    background-color: rgba(67, 67, 67, 0);
}

.two-t-l div {
    margin-left: 39px;
    color: #fff;
}

.two-t-l div h2:nth-child(1) {
    margin-top: 64px;
    
}
.two-t-l div h2 {
  line-height: 40px;
    
}


.two-t-l div span:nth-child(3) {
    margin-top: 34px;
    
}

.two-t-l div span {
    font-size: 18px;
    line-height: 33px;
}

.two-t-l span {
    display: block;
}

.content-two>.content-two-t>.two-t-r {
    width: 856px;
    height: 350px;
    box-shadow: 18px 18px 65px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 113px;
    right: 0;
    background: #fff;
}

.two-t-r .w-t-r-c {
    margin: 0 50px;
}

.w-t-r-c .w-t-r-c-title {
    font-size: 40px;
    color: #4d4d4d;
    height: 118px;
    padding-top: 46px;
    background-image: url(../imgs//v02s//line.png);
    background-position-y: 100%;
    background-repeat: no-repeat;
    letter-spacing: 3px;
}


/* .w-t-r-c-title span{
    display: block;
  margin-top: 50px;
} */

.w-t-r-c ul {
    padding-top: 34px;
}

.w-t-r-c ul li {
    height: 46px;
    line-height: 46px;
    color: #808080;
}

.w-t-r-c ul li span {
    float: left;
}

.w-t-r-c ul li span:nth-child(1) {
    display: block;
    width: 9px;
    height: 4px;
    background: #7fbb96;
    margin-right: 20px;
    margin-top: 19px;
}

.content-two>.content-two-b {
    position: relative;
    overflow: hidden;
    padding-top: 46px;
    padding-bottom: 80px;
}

.content-two>.content-two-b>ul>li {
    float: left;
    width: 369px;
    height: 425px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.17);
    margin: 0 31px;
    text-align: center;
}

.content-two>.content-two-b>ul>li div {
    height: 260px;
    width: 272px;
    margin: 0 auto;
    margin-top: 20px;
}

.content-two>.content-two-b>ul>li h3 {
    font-size: 24px;
    margin-top: 30px;
    color: #4d4d4d;
}

.content-two>.content-two-b>ul>li p {
    font-size: 18px;
    color: #808080;
    margin-top: 15px;
}

.content-three {
    width: 100%;
    height: 664px;
    background: #4D4D4D;
    background-image: url(../imgs/v02s/v02-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size:18px ;
    .content-three-box {
        width: 1300px;
        height: 100%;
        margin: 0 auto;
        color: #fff;
        .three-title {
            font-size: 48px;
            padding-top: 60px;
            margin-bottom: 66px;
            text-align: center;
        }
        .three-box-b {
            .three-title {
                padding: 0;
                margin-top: 75px;
                margin-bottom: 71px;
                font-size: 40px;
            }
        }
        ul {
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-between;
            .img{
                height: 79px;
                line-height: 79px;
                img{
                     display: inline-block;
                     vertical-align: middle;
                }
            }
            li {
                color: #cccccc;
            }
            h3 {
                margin-bottom: 36px;
                color: #7fbb96;
                margin-top:20px ;
            }
            p {
                color: #cccccc;
                margin-top: 20px;
            }
        }
    }
}

.content-four {
    width: 1300px;
    margin: 0 auto;
    height: 980px;
    text-align: center;
    h1 {
        color: #4D4D4D;
        font-size: 40px;
        margin-top: 58px;
    }
    .info {
        color: #808080;
        font-size: 18px;
        margin-top: 20px;
    }
    .swiper {
        width: 100%;
        //      overflow: ;
    }
}

.content-five {
    width: 100%;
    height: 450px;
    background: #EBEBEB;
    .five-box {
        width: 1300px;
        height: 100%;
        margin: 0 auto;
        padding-top: 80px;
    }
}


.slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 640px;
    border: 1px solid #e5e5e5;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3)
  }
  .fly{
  background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(./imgs/v02s/1.44.png)	; 
  }
  .A{
      opacity: 0.3;
  }
  .crea li{
      width: 10px;
      height: 10px;
      background: #999;
      border-radius:50%; 
      margin: 10px;
  }
  .crea {
      display: flex;
      justify-content: center;
  }
  .crea li.active{
      background: red;
  }
  .carousel-3d-container{
      overflow: visible !important;
  }